@font-face {
  font-family: "Inter";
  font-weight: 100;
  font-style: normal;
  src: url("../fonts/Inter/InterThin.eot");
  src: url("../fonts/Inter/InterThin.eot?#iefix") format("embedded-opentype"), url("../fonts/Inter/InterThin.woff") format("woff"), url("../fonts/Inter/InterThin.woff2") format("woff2"), url("../fonts/Inter/InterThin.ttf") format("truetype"), url("../fonts/Inter/InterThin.svg") format("svg");
}
@font-face {
  font-family: "Inter";
  font-weight: 200;
  font-style: normal;
  src: url("../fonts/Inter/InterExtraLight.eot");
  src: url("../fonts/Inter/InterExtraLight.eot?#iefix") format("embedded-opentype"), url("../fonts/Inter/InterExtraLight.woff") format("woff"), url("../fonts/Inter/InterExtraLight.woff2") format("woff2"), url("../fonts/Inter/InterExtraLight.ttf") format("truetype"), url("../fonts/Inter/InterExtraLight.svg") format("svg");
}
@font-face {
  font-family: "Inter";
  font-weight: 300;
  font-style: normal;
  src: url("../fonts/Inter/InterLight.eot");
  src: url("../fonts/Inter/InterLight.eot?#iefix") format("embedded-opentype"), url("../fonts/Inter/InterLight.woff") format("woff"), url("../fonts/Inter/InterLight.woff2") format("woff2"), url("../fonts/Inter/InterLight.ttf") format("truetype"), url("../fonts/Inter/InterLight.svg") format("svg");
}
@font-face {
  font-family: "Inter";
  font-weight: normal;
  font-style: normal;
  src: url("../fonts/Inter/InterRegular.eot");
  src: url("../fonts/Inter/InterRegular.eot?#iefix") format("embedded-opentype"), url("../fonts/Inter/InterRegular.woff") format("woff"), url("../fonts/Inter/InterRegular.woff2") format("woff2"), url("../fonts/Inter/InterRegular.ttf") format("truetype"), url("../fonts/Inter/InterRegular.svg") format("svg");
}
@font-face {
  font-family: "Inter";
  font-weight: 500;
  font-style: normal;
  src: url("../fonts/Inter/InterMedium.eot");
  src: url("../fonts/Inter/InterMedium.eot?#iefix") format("embedded-opentype"), url("../fonts/Inter/InterMedium.woff") format("woff"), url("../fonts/Inter/InterMedium.woff2") format("woff2"), url("../fonts/Inter/InterMedium.ttf") format("truetype"), url("../fonts/Inter/InterMedium.svg") format("svg");
}
@font-face {
  font-family: "Inter";
  font-weight: 600;
  font-style: normal;
  src: url("../fonts/Inter/InterSemiBold.eot");
  src: url("../fonts/Inter/InterSemiBold.eot?#iefix") format("embedded-opentype"), url("../fonts/Inter/InterSemiBold.woff") format("woff"), url("../fonts/Inter/InterSemiBold.woff2") format("woff2"), url("../fonts/Inter/InterSemiBold.ttf") format("truetype"), url("../fonts/Inter/InterSemiBold.svg") format("svg");
}
@font-face {
  font-family: "Inter";
  font-weight: bold;
  font-style: normal;
  src: url("../fonts/Inter/InterBold.eot");
  src: url("../fonts/Inter/InterBold.eot?#iefix") format("embedded-opentype"), url("../fonts/Inter/InterBold.woff") format("woff"), url("../fonts/Inter/InterBold.woff2") format("woff2"), url("../fonts/Inter/InterBold.ttf") format("truetype"), url("../fonts/Inter/InterBold.svg") format("svg");
}
@font-face {
  font-family: "Inter";
  font-weight: 800;
  font-style: normal;
  src: url("../fonts/Inter/InterExtraBold.svg.eot");
  src: url("../fonts/Inter/InterExtraBold.svg.eot?#iefix") format("embedded-opentype"), url("../fonts/Inter/InterExtraBold.svg.woff") format("woff"), url("../fonts/Inter/InterExtraBold.svg.woff2") format("woff2"), url("../fonts/Inter/InterExtraBold.svg.ttf") format("truetype"), url("../fonts/Inter/InterExtraBold.svg.svg") format("svg");
}
@font-face {
  font-family: "Inter";
  font-weight: 900;
  font-style: normal;
  src: url("../fonts/Inter/InterBlack.eot");
  src: url("../fonts/Inter/InterBlack.eot?#iefix") format("embedded-opentype"), url("../fonts/Inter/InterBlack.woff") format("woff"), url("../fonts/Inter/InterBlack.woff2") format("woff2"), url("../fonts/Inter/InterBlack.ttf") format("truetype"), url("../fonts/Inter/InterBlack.svg") format("svg");
}
/* settings */
html {
  height: 100%;
}

body {
  min-width: 319px;
  min-height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

@media (max-width: 767px) {
  .mobile-hide {
    display: none !important;
  }
}

@media (min-width: 768px) {
  .mobile-visible {
    display: none !important;
  }
}

.img-responsive {
  position: relative;
  overflow: hidden;
}
.img-responsive img {
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
}
.img-responsive svg {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}
.img-responsive:after {
  content: "";
  display: block;
  padding-top: 56.25%;
}

.videoframe {
  width: 100%;
  max-width: 1000px;
  position: relative;
  overflow: hidden;
}
.videoframe iframe {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}
.videoframe:after {
  content: "";
  display: block;
  padding-top: 56.25%;
}

*:-webkit-autofill {
  -webkit-box-shadow: inset 0 0 0 50px #fff !important;
}

*::-webkit-input-placeholder {
  color: #a9a9a9;
  opacity: 1;
}

*::-moz-placeholder {
  color: #a9a9a9;
  opacity: 1;
}

*:-ms-input-placeholder {
  color: #a9a9a9;
  opacity: 1;
}

*::-ms-input-placeholder {
  color: #a9a9a9;
  opacity: 1;
}

*::placeholder {
  color: #a9a9a9;
  opacity: 1;
}

.page {
  padding-top: 114px;
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  background: #f7fdff url(../img/bg-image.svg) repeat;
}
@media (max-width: 991px) {
  .page {
    padding-top: 140px;
  }
}

@media (max-width: 767px) {
  .navbar-dark .navbar-brand {
    width: 113px;
  }
}

@media (max-width: 767px) {
  .navbar-brand {
    width: 113px;
  }
}

.wrapper {
  width: 100%;
  max-width: 1350px;
  padding-left: 30px;
  padding-right: 30px;
  margin-left: auto;
  margin-right: auto;
}
@media screen and (max-width: 767px) {
  .wrapper {
    padding-left: 15px;
  }
}
@media screen and (max-width: 767px) {
  .wrapper {
    padding-right: 15px;
  }
}

.row-grid {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-left: -30px;
}
.row-grid > * {
  word-wrap: break-word;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding-left: 30px;
}

.input {
  position: relative;
}
.input input {
  width: 100%;
  padding: 0 20px;
  background: #FFFFFF;
  border: 1px solid #D1D5DB;
  outline: none;
  height: 40px;
  font-size: 15px;
  -webkit-transition: 0.1s;
  -o-transition: 0.1s;
  transition: 0.1s;
}
.input input:focus {
  border-color: #3DBCE1;
}
.input input:focus ~ .input__drop {
  display: block;
  opacity: 1;
  visibility: visible;
}
.input__label {
  font-size: 14px;
  color: #9CA3AF;
  position: absolute;
  top: -25px;
  left: 0;
}
.input__label--dark {
  color: #4B5563;
  font-weight: 600;
}
.input__drop {
  width: 100%;
  padding: 10px 0;
  background-color: #fff;
  border: 1px solid #D1D5DB;
  border-top: none;
  position: absolute;
  z-index: 10;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}
.input__list {
  max-height: 320px;
  font-size: 15px;
  color: #1F2937;
  overflow-y: auto;
}
.input__list li {
  padding: 5px 20px;
  margin-bottom: 0;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  cursor: pointer;
  -webkit-transition: 0.1s;
  -o-transition: 0.1s;
  transition: 0.1s;
}
.input__list li:hover {
  background-color: #36BBFB;
  color: #fff;
}

.new-btn {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  height: 40px;
  padding: 0 18px;
  border-radius: 4px;
  font-family: "Inter";
  font-size: 15px;
  font-weight: bold;
  color: #fff;
  outline: none;
  border: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  cursor: pointer;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
  white-space: nowrap;
  overflow: hidden;
  -ms-flex-negative: 0;
  flex-shrink: 0;
}
.new-btn--green {
  background-color: #10B981;
}
.new-btn--green:hover {
  background-color: #14e8a2;
  color: #fff;
}
.new-btn--blue {
  background-color: #3DBCE1;
}
.new-btn--blue:hover {
  background-color: #69cbe8;
  color: #fff;
}
.new-btn--red {
  background-color: #F87171;
}
.new-btn--red:hover {
  background-color: #faa2a2;
  color: #fff;
}
.new-btn--black {
  background-color: #374151;
}
.new-btn--black:hover {
  background-color: #4c596f;
  color: #fff;
}
.new-btn--gradient {
  background: -o-linear-gradient(left, #02AAB0 0%, #00CDAC 100%), -o-linear-gradient(180.67deg, #0FFBCF -11.34%, #36BBFB 116.76%), #10B981;
  background: linear-gradient(90deg, #02AAB0 0%, #00CDAC 100%), linear-gradient(269.33deg, #0FFBCF -11.34%, #36BBFB 116.76%), #10B981;
  position: relative;
}
.new-btn--gradient:before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: transparent;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
  z-index: 1;
}
.new-btn--gradient span {
  position: relative;
  z-index: 2;
}
.new-btn--gradient:hover {
  color: #fff;
}
.new-btn--gradient:hover:before {
  background-color: #10B981;
}
.new-btn:focus {
  outline: none;
}

.textarea {
  position: relative;
}
.textarea textarea {
  width: 100%;
  padding: 12px 15px !important;
  border: 1px solid #D1D5DB;
  resize: none;
  outline: none;
  font-size: 13px;
  line-height: 16px;
  color: #1F2937;
}
.textarea textarea:focus {
  border-color: #3DBCE1;
}
.textarea__label {
  font-size: 14px;
  color: #9CA3AF;
  position: absolute;
  top: -25px;
  left: 0;
}
.textarea__label--dark {
  color: #4B5563;
  font-weight: 600;
}
.textarea .scroll-textarea {
  border-color: #D1D5DB;
}

.select {
  position: relative;
}
.select__trigger {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 0 40px 0 20px;
  background: #FFFFFF;
  border: 1px solid #D1D5DB;
  height: 40px;
  font-size: 15px;
  -webkit-transition: 0.1s;
  -o-transition: 0.1s;
  transition: 0.1s;
  color: #1F2937;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  cursor: pointer;
  position: relative;
}
.select__trigger span {
  white-space: nowrap;
  overflow: hidden;
}
.select__trigger.active .select__arrow svg {
  -webkit-transform: rotate(0deg);
  -ms-transform: rotate(0deg);
  transform: rotate(0deg);
}
.select__drop {
  display: none;
  width: 100%;
  padding: 10px 0;
  background-color: #fff;
  border: 1px solid #D1D5DB;
  border-top: none;
  position: absolute;
  z-index: 10;
}
.select__list {
  max-height: 320px;
  font-size: 15px;
  color: #1F2937;
  overflow-y: auto;
}
.select__list input {
  display: none;
}
.select__list input:checked + label {
  background-color: #3DBCE1;
  color: #fff;
}
.select__list label {
  display: block;
  padding: 5px 20px;
  margin-bottom: 0;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  cursor: pointer;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}
.select__list label:hover {
  color: #0054B9;
}
.select__arrow {
  position: absolute;
  top: 8px;
  right: 16px;
}
.select__arrow svg {
  -webkit-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  transform: rotate(180deg);
}
.select__label {
  font-size: 14px;
  color: #9CA3AF;
  position: absolute;
  top: -25px;
  left: 0;
}
.select__label--dark {
  color: #4B5563;
  font-weight: 600;
}

@media (max-width: 767px) {
  .navbar .navbar-toggler {
    right: 0;
  }
}

.navbar .container {
  padding-left: 15px;
  padding-right: 15px;
}
@media (max-width: 575px) {
  .navbar .container {
    padding-left: 0;
    padding-right: 0;
  }
}

.nav-link {
  white-space: nowrap;
}

.scrollbar-inner > .scroll-element .scroll-element_track {
  background: transparent;
}

.scrollbar-inner > .scroll-element .scroll-bar {
  opacity: 1;
  background-color: #cdcfd3;
  cursor: pointer;
}

.scrollbar-inner > .scroll-element:hover .scroll-bar {
  background-color: #cdcfd3;
}

.success {
  width: 100%;
  max-width: 200px;
  padding: 10px;
  background-color: rgba(16, 185, 129, 0.7);
  color: #fff;
  position: fixed;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, 10px);
  -ms-transform: translate(-50%, 10px);
  transform: translate(-50%, 10px);
  z-index: 1000;
  -webkit-transition: 0.2s;
  -o-transition: 0.2s;
  transition: 0.2s;
  text-align: center;
  opacity: 0;
  visibility: hidden;
  font-weight: bold;
}
.success.open {
  -webkit-transform: translate(-50%, 0);
  -ms-transform: translate(-50%, 0);
  transform: translate(-50%, 0);
  opacity: 1;
  visibility: visible;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
}

.switch input {
  display: none;
}
.switch input:checked + label {
  background-color: #10B981;
}
.switch input:checked + label:after {
  content: "";
  display: block;
  -webkit-transform: translate(21px, 0);
  -ms-transform: translate(21px, 0);
  transform: translate(21px, 0);
}
.switch label {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 44px;
  height: 23px;
  border-radius: 50px;
  margin-bottom: 0;
  background-color: #EFF0F2;
  border: 1px solid #D1D5DB;
  position: relative;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  cursor: pointer;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}
.switch label:after {
  content: "";
  display: block;
  width: 21px;
  height: 21px;
  background-color: #fff;
  border: 1px solid #D1D5DB;
  border-radius: 100%;
  position: absolute;
  top: 0;
  left: 0;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}

.maw330 {
  max-width: 330px;
}
@media (max-width: 500px) {
  .maw330 {
    max-width: none;
  }
}

.maw220 {
  max-width: 220px;
}
@media (max-width: 500px) {
  .maw220 {
    max-width: none;
  }
}

.swiper-scrollbar {
  background: transparent;
}

.swiper-horizontal > .swiper-scrollbar {
  height: 10px;
}

.swiper-scrollbar-drag {
  background: #CDCFD3;
}

/* /settings */
.modal {
  display: none;
  background: rgba(31, 41, 55, 0.5);
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  overflow: auto;
}
.modal_body {
  width: 100%;
  max-width: 1000px;
  max-height: 100%;
  padding: 10px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%) scale(0, 0);
  -ms-transform: translate(-50%, -50%) scale(0, 0);
  transform: translate(-50%, -50%) scale(0, 0);
  opacity: 0;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
}
.modal-content, .modal_content {
  padding: 30px;
  position: relative;
  background-color: #fff;
  border-radius: 5px;
}
.modal_close {
  width: 12px;
  height: 12px;
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.modal_close:after, .modal_close:before {
  content: "";
  display: block;
  width: 100%;
  height: 2px;
  background-color: #9CA3AF;
  position: absolute;
  top: 50%;
  left: 50%;
}
.modal_close:after {
  -webkit-transform: translate(-50%, -50%) rotate(45deg);
  -ms-transform: translate(-50%, -50%) rotate(45deg);
  transform: translate(-50%, -50%) rotate(45deg);
}
.modal_close:before {
  -webkit-transform: translate(-50%, -50%) rotate(-45deg);
  -ms-transform: translate(-50%, -50%) rotate(-45deg);
  transform: translate(-50%, -50%) rotate(-45deg);
}
.modal.open .modal_body {
  -webkit-transform: translate(-50%, -50%) scale(1, 1);
  -ms-transform: translate(-50%, -50%) scale(1, 1);
  transform: translate(-50%, -50%) scale(1, 1);
  opacity: 1;
}

.tooltip_templates {
  display: none;
}

.tooltipster-sidetip.tooltipster-noir .tooltipster-box {
  max-width: 180px;
  background: rgba(31, 41, 55, 0.7);
  border: none;
  border-radius: 0;
  font-size: 12px;
  line-height: 15px;
}

.tooltipster-sidetip.tooltipster-noir .tooltipster-content {
  color: #fff;
  padding: 6px;
  position: relative;
}

.tooltipster-sidetip.tooltipster-noir .tooltipster-arrow {
  display: none;
  height: 9px;
  margin-left: -9px;
  width: 18px;
}

.tooltipster-sidetip.tooltipster-noir.tooltipster-left .tooltipster-arrow, .tooltipster-sidetip.tooltipster-noir.tooltipster-right .tooltipster-arrow {
  height: 18px;
  margin-left: 0;
  margin-top: -9px;
  width: 9px;
}

.tooltipster-sidetip.tooltipster-noir .tooltipster-arrow-background {
  border: 11px solid transparent;
}

.tooltipster-sidetip.tooltipster-noir.tooltipster-bottom .tooltipster-arrow-background {
  border-bottom-color: rgba(31, 41, 55, 0.7);
  top: 4px;
}

.tooltipster-sidetip.tooltipster-noir.tooltipster-left .tooltipster-arrow-background {
  border-left-color: rgba(31, 41, 55, 0.7);
  left: -4px;
}

.tooltipster-sidetip.tooltipster-noir.tooltipster-right .tooltipster-arrow-background {
  border-right-color: rgba(31, 41, 55, 0.7);
  left: 4px;
}

.tooltipster-sidetip.tooltipster-noir.tooltipster-top .tooltipster-arrow-background {
  border-top-color: rgba(31, 41, 55, 0.7);
  top: -4px;
}

.tooltipster-sidetip.tooltipster-noir .tooltipster-arrow-border {
  border-width: 11px;
}

.tooltipster-sidetip.tooltipster-noir.tooltipster-bottom .tooltipster-arrow-uncropped {
  top: -11px;
}

.tooltipster-sidetip.tooltipster-noir.tooltipster-right .tooltipster-arrow-uncropped {
  left: -11px;
}

.accordion__content {
  display: none;
}
.tabs {
  border: 1px solid #EFF0F2;
  background-color: #fff;
  margin-bottom: 80px;
}
.tabs__head {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding: 42px 40px 0;
  border-bottom: 1px solid #EFF0F2;
}
.tabs__title {
  font-weight: 600;
  font-size: 30px;
  line-height: 21px;
  color: #1F2937;
  white-space: nowrap;
  margin-bottom: 27px;
}
.tabs__triggers {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: -45px;
  text-transform: uppercase;
  margin-bottom: 27px;
}
.tabs__trigger {
  color: #6B7280;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  cursor: pointer;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
  margin-left: 45px;
  font-size: 12px;
  font-weight: 600;
  white-space: nowrap;
}
.tabs__trigger:hover {
  color: #0054B9;
}
.tabs__trigger.active {
  color: #111827;
}
.tabs__contents {
  padding: 60px 40px;
}
.tabs__contents--bdb {
  border-bottom: 1px solid #EFF0F2;
}
.tabs__col:nth-child(1) {
  width: 58.3333333333%;
}
@media screen and (max-width: 991px) {
  .tabs__col:nth-child(1) {
    width: 100%;
  }
}
.tabs__col:nth-child(2) {
  width: 41.6666666667%;
}
@media screen and (max-width: 991px) {
  .tabs__col:nth-child(2) {
    width: 100%;
  }
}
.tabs__img {
  margin-top: -30px;
  text-align: right;
}
.tabs__section--border {
  padding-bottom: 60px;
  position: relative;
}
.tabs__section--border:after {
  content: "";
  display: block;
  height: 1px;
  background-color: #EFF0F2;
  position: absolute;
  bottom: 0;
  left: -40px;
  right: -40px;
}
@media (max-width: 991px) {
  .tabs__title {
    width: 100%;
  }
  .tabs__triggers {
    overflow-x: auto;
    padding-bottom: 5px;
    margin-left: 0;
  }
  .tabs__trigger {
    margin-left: 0;
    margin-right: 20px;
  }
  .tabs__img {
    display: none;
  }
}
@media (max-width: 500px) {
  .tabs {
    margin-bottom: 90px;
  }
  .tabs__head {
    padding: 28px 20px 0;
  }
  .tabs__title {
    margin-bottom: 26px;
    font-size: 24px;
  }
  .tabs__triggers {
    margin-bottom: 10px;
  }
  .tabs__trigger {
    margin-right: 10px;
    font-size: 8px;
  }
  .tabs__contents {
    padding: 48px 20px;
  }
  .tabs__section--border {
    padding-bottom: 50px;
  }
}

.js-tabs-content {
  display: none;
}
.js-tabs-content.open {
  display: block;
}

.user-nav-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
@media (max-width: 991px) {
  .user-nav-wrap {
    width: 100%;
    margin-top: 40px;
  }
}

.user {
  position: relative;
}
.user__head {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.user__btn {
  padding: 6px 7px 7px 9px;
  background: -webkit-gradient(linear, left top, right top, from(#02AAB0), to(#00CDAC));
  background: -o-linear-gradient(left, #02AAB0 0%, #00CDAC 100%);
  background: linear-gradient(90deg, #02AAB0 0%, #00CDAC 100%);
  border-radius: 4px;
  font-size: 14px;
  font-weight: bold;
  color: #fff;
  white-space: nowrap;
}
.user__name {
  margin: 0 10px;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  white-space: nowrap;
}
.user__name:hover, .user__name.is-active {
  color: #0054B9;
}
.user__icon {
  cursor: pointer;
}
.user__drop {
  width: 180px;
  padding-top: 5px;
  position: absolute;
  top: 100%;
  right: 0;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
  opacity: 0;
  visibility: hidden;
  -webkit-transform: translate(0, 50px);
  -ms-transform: translate(0, 50px);
  transform: translate(0, 50px);
  z-index: 10;
}
.user__drop.open {
  opacity: 1;
  visibility: visible;
  -webkit-transform: translate(0, 0);
  -ms-transform: translate(0, 0);
  transform: translate(0, 0);
}
.user__list {
  padding: 12px 20px;
  background-color: #fff;
  border: 1px solid #D1D5DB;
  font-size: 15px;
}
.user__list li {
  margin: 4px 0;
}
.user__list a {
  color: #111827;
}
.user__list a:hover {
  color: #0054B9;
}
.user__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.user__text {
  display: none;
}
@media (max-width: 991px) {
  .user {
    width: 100%;
  }
  .user__text {
    display: inline-block;
    margin-right: 10px;
  }
}

.vin {
  padding: 50px 20px 40px;
  margin-bottom: 20px;
  border: 1px solid #EFF0F2;
  background-color: #fff;
}
.vin__col {
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
@media screen and (max-width: 991px) {
  .vin__col {
    width: 100%;
  }
}
.vin .input {
  width: 100%;
  max-width: 390px;
  margin-right: 30px;
}
.vin .input input {
  text-transform: uppercase;
}
.vin__btn {
  white-space: nowrap;
}
.vin__text {
  font-size: 16px;
  line-height: 21px;
  font-weight: 600;
  color: #6B7280;
}
@media (max-width: 991px) {
  .vin__col:nth-child(1) {
    margin-bottom: 20px;
  }
  .vin__btn {
    margin-right: 0;
  }
}
@media (max-width: 500px) {
  .vin {
    padding: 40px 20px 30px;
  }
  .vin__col {
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  }
  .vin .input {
    max-width: none;
    margin-bottom: 10px;
    margin-right: 0;
  }
  .vin__btn {
    width: 100%;
  }
}

.filter {
  border: 1px solid #EFF0F2;
  background-color: #fff;
  margin-bottom: 20px;
}
.filter__head {
  padding: 40px 20px 20px;
}
.filter__line-b {
  border-bottom: 1px solid #EFF0F2;
}
.filter__col {
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
@media screen and (max-width: 991px) {
  .filter__col {
    width: 100%;
  }
}
.filter__col:nth-child(2) {
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
}
.filter__search {
  margin-right: 30px;
}
.filter__tel {
  width: 100%;
  max-width: 290px;
  margin-right: 30px;
}
.filter__stickers {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  padding: 15px 20px;
}
.filter__span {
  padding-top: 10px;
  font-size: 14px;
  color: #9CA3AF;
}
.filter__sticker {
  padding: 6px 17px 4px;
  margin-top: 5px;
  margin-bottom: 5px;
  margin-left: 10px;
  border-radius: 50px;
  background-color: #fff;
  border: 1px solid #D1D5DB;
  font-size: 12px;
  font-weight: normal;
  color: #6B7280;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  cursor: pointer;
  position: relative;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}
.filter__sticker:hover {
  background-color: #E5E7EB;
  border-color: #E5E7EB;
}
.filter__cross {
  width: 12px;
  height: 12px;
  position: absolute;
  top: 10px;
  right: 9px;
  cursor: pointer;
}
.filter__cross:after, .filter__cross:before {
  content: "";
  display: block;
  width: 100%;
  height: 2px;
  background-color: #7D838E;
  position: absolute;
  top: 50%;
  left: 50%;
}
.filter__cross:after {
  -webkit-transform: translate(-50%, -50%) rotate(45deg);
  -ms-transform: translate(-50%, -50%) rotate(45deg);
  transform: translate(-50%, -50%) rotate(45deg);
}
.filter__cross:before {
  -webkit-transform: translate(-50%, -50%) rotate(-45deg);
  -ms-transform: translate(-50%, -50%) rotate(-45deg);
  transform: translate(-50%, -50%) rotate(-45deg);
}
.filter__search {
  width: 100%;
  max-width: 390px;
}
@media (max-width: 991px) {
  .filter__col {
    margin-bottom: 30px;
  }
  .filter__col:nth-child(2) {
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
  }
  .filter__tel {
    max-width: 390px;
  }
}
@media (max-width: 500px) {
  .filter {
    margin-bottom: 10px;
  }
  .filter__head {
    padding: 30px 20px 0;
  }
  .filter__col {
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  }
  .filter__tel {
    max-width: none;
    margin-bottom: 10px;
    margin-right: 0;
  }
  .filter__search {
    max-width: none;
    margin-bottom: 10px;
    margin-right: 0;
  }
  .filter .new-btn {
    width: 100%;
  }
  .filter__span {
    width: 100%;
  }
  .filter__sticker {
    margin-left: 0;
    margin-right: 10px;
  }
}

.details {
  padding: 20px;
  border: 1px solid #F3F4F6;
  background-color: #fff;
  margin-bottom: 113px;
}
.details__item {
  padding: 40px 20px 20px;
  border: 1px solid #EFF0F2;
  margin-bottom: 10px;
  position: relative;
}
.details__col--1 {
  width: 33.3333333333%;
}
@media screen and (max-width: 991px) {
  .details__col--1 {
    width: 100%;
  }
}
.details__col--2 {
  width: 66.6666666667%;
}
@media screen and (max-width: 991px) {
  .details__col--2 {
    width: 100%;
  }
}
.details__title {
  font-weight: 600;
  font-size: 18px;
  line-height: 21px;
  color: #6B7280;
}
.details__chunk {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  width: 100%;
  min-height: 64px;
  margin-bottom: 20px;
}
.details__content {
  max-width: 240px;
}
.details__num {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  font-weight: bold;
  font-size: 18px;
  line-height: 21px;
  color: #1DB054;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  cursor: pointer;
}
.details__num img {
  margin-left: 7px;
}
.details__name {
  font-size: 16px;
  line-height: 21px;
  text-transform: uppercase;
  color: #6B7280;
}
.details__img {
  -ms-flex-negative: 0;
  flex-shrink: 0;
  margin-left: 20px;
  cursor: pointer;
}
.details__img img {
  width: 120px;
  height: 140px;
  -o-object-fit: cover;
  object-fit: cover;
  -o-object-position: center;
  object-position: center;
}
.details__img p {
  font-size: 12px;
  line-height: 21px;
  color: #6B7280;
}
.details__img p span {
  display: block;
  font-weight: bold;
  color: #1D4ED8;
}
.details__block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.details__block-comment {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
  -ms-flex-align: end;
  align-items: flex-end;
  padding-left: 20px;
}
.details__scheme {
  position: relative;
}
.details__scheme-num {
  position: absolute;
  bottom: 5px;
  right: 10px;
  font-size: 14px;
  font-weight: bold;
  color: #DC2626;
}
.details__comment {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  width: 100%;
  max-width: 250px;
}
.details__comment .textarea {
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
}
.details__comment .textarea textarea {
  height: 75px;
  padding: 12px 15px;
}
.details__comment .textarea.open {
  opacity: 1;
  visibility: visible;
}
.details__icon {
  margin-left: 5px;
  cursor: pointer;
}
.details__icon svg {
  display: block;
  fill: #374151;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}
.details__icon:hover svg, .details__icon.is-active svg {
  fill: #3DBCE1;
}
.details__cross {
  width: 20px;
  height: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  position: absolute;
  top: 12px;
  right: 12px;
  cursor: pointer;
}
.details__cross-inner {
  width: 12px;
  height: 12px;
  position: relative;
}
.details__cross-inner:after, .details__cross-inner:before {
  content: "";
  display: block;
  width: 100%;
  height: 2px;
  background-color: #9CA3AF;
  position: absolute;
  top: 50%;
  left: 50%;
}
.details__cross-inner:after {
  -webkit-transform: translate(-50%, -50%) rotate(45deg);
  -ms-transform: translate(-50%, -50%) rotate(45deg);
  transform: translate(-50%, -50%) rotate(45deg);
}
.details__cross-inner:before {
  -webkit-transform: translate(-50%, -50%) rotate(-45deg);
  -ms-transform: translate(-50%, -50%) rotate(-45deg);
  transform: translate(-50%, -50%) rotate(-45deg);
}
.details__preload {
  display: inline-block;
  -webkit-animation: rotatePreload 1s linear infinite;
  animation: rotatePreload 1s linear infinite;
}
.details__preload img {
  display: block;
}
.details__not {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  font-size: 18px;
  line-height: 21px;
  font-weight: bold;
  color: #6B7280;
}
.details__not-icon {
  cursor: pointer;
  margin-left: 15px;
}
@media (max-width: 991px) {
  .details__col--1 {
    margin-bottom: 40px;
  }
  .details__col--4 {
    margin-top: 20px;
  }
}
@media (max-width: 767px) {
  .details__chunk {
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  }
  .details__block-comment {
    width: 100%;
    margin-top: 15px;
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
  }
}
@media (max-width: 500px) {
  .details {
    padding: 10px;
    margin-bottom: 36px;
  }
  .details__item {
    padding: 30px 20px;
  }
  .details__comment {
    max-width: none;
  }
  .details__comment .textarea textarea {
    height: 50px;
  }
  .details__col--1 {
    margin-bottom: 20px;
  }
  .details__chunk {
    margin-bottom: 30px;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  }
  .details__content {
    margin-bottom: 15px;
  }
  .details__img {
    margin-left: 0;
  }
  .details__block {
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  }
  .details__block-comment {
    padding-left: 0;
  }
}

@-webkit-keyframes rotatePreload {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@keyframes rotatePreload {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
.message {
  text-align: center;
}
.message .modal_body {
  max-width: 320px;
}
.message__title {
  font-weight: 600;
  font-size: 16px;
  line-height: 18px;
  color: #1F2937;
  margin-bottom: 7px;
}
.message__text {
  font-size: 13px;
  line-height: 16px;
  color: #6B7280;
  margin-bottom: 16px;
}
.message__btns button {
  margin: 0 6px;
}

.scheme .modal_body {
  max-width: 1310px;
}
.scheme__col {
  width: 50%;
  position: relative;
}
@media screen and (max-width: 1400px) {
  .scheme__col {
    width: 100%;
  }
}
.scheme__img img {
  margin-bottom: 15px;
}
.scheme__img p {
  font-size: 15px;
  color: #1F2937;
}
.scheme__scroll {
  max-height: 650px;
}
.scheme__scroll-inner {
  padding-right: 10px;
}
.scheme__table {
  width: 100%;
  border-collapse: collapse;
  border-spacing: 0;
}
.scheme__table tr {
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}
.scheme__table tr:not(:first-child) {
  border: 1px solid #EFF0F2;
}
.scheme__table tr.active {
  position: relative;
  background-color: #3DBCE1;
}
.scheme__table tr.active td {
  color: #fff;
}
.scheme__table tr.active .scheme__quest {
  background-image: url("data:image/svg+xml,%3Csvg width='15' height='15' viewBox='0 0 15 15' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M8.25001 10.5H6.75V12H8.25001V10.5Z' fill='%23fff'/%3E%3Cpath d='M7.49998 0C3.35788 0 0 3.35788 0 7.49998C0 11.6421 3.35788 15 7.49998 15C11.6421 15 15 11.6421 15 7.49998C15 3.35788 11.6421 0 7.49998 0ZM7.49998 13.6425C4.10758 13.6425 1.35749 10.8924 1.35749 7.49998C1.35749 4.10758 4.10758 1.35749 7.49998 1.35749C10.8907 1.3616 13.6383 4.10927 13.6425 7.49998C13.6425 10.8924 10.8924 13.6425 7.49998 13.6425Z' fill='%23fff'/%3E%3Cpath d='M10.4175 5.28752C10.0317 3.6762 8.41268 2.68276 6.80137 3.06856C5.44669 3.39292 4.4935 4.60707 4.49997 6.00003H5.99998C6.0704 5.17161 6.79905 4.55711 7.62747 4.62753C8.45589 4.69795 9.07039 5.4266 8.99997 6.25502C8.84676 7.00047 8.17802 7.52658 7.41748 7.50001C7.04883 7.50001 6.74997 7.79887 6.74997 8.16752V9.75H8.24998V8.895C9.83623 8.48596 10.8011 6.88013 10.4175 5.28752Z' fill='%23fff'/%3E%3C/svg%3E%0A");
}
.scheme__table th {
  padding: 5px 10px;
  background-color: #3DBCE1;
  font-size: 13px;
  color: #fff;
}
.scheme__table td {
  padding: 10px 10px;
  font-size: 15px;
  color: #1F2937;
}
.scheme__table td:nth-child(1) {
  text-transform: uppercase;
}
.scheme__table td:nth-child(2) {
  color: #36BBFB;
}
.scheme__table td:nth-child(5) {
  width: 40px;
}
.scheme__table button {
  min-width: 90px;
  padding: 2px 10px;
  background-color: #fff;
  border: 1px solid #10B981;
  border-radius: 3px;
  color: #10B981;
  font-size: 12px;
  font-weight: 600;
  outline: none;
  text-align: center;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}
.scheme__table button:disabled {
  background-color: #E5E7EB;
  color: #6B7280;
  border-color: #6B7280;
}
.scheme__mouse {
  position: absolute;
  top: 10px;
  left: 40px;
}
.scheme__quest {
  display: block;
  width: 15px;
  height: 15px;
  background-image: url("data:image/svg+xml,%3Csvg width='15' height='15' viewBox='0 0 15 15' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M8.25001 10.5H6.75V12H8.25001V10.5Z' fill='%239CA3AF'/%3E%3Cpath d='M7.49998 0C3.35788 0 0 3.35788 0 7.49998C0 11.6421 3.35788 15 7.49998 15C11.6421 15 15 11.6421 15 7.49998C15 3.35788 11.6421 0 7.49998 0ZM7.49998 13.6425C4.10758 13.6425 1.35749 10.8924 1.35749 7.49998C1.35749 4.10758 4.10758 1.35749 7.49998 1.35749C10.8907 1.3616 13.6383 4.10927 13.6425 7.49998C13.6425 10.8924 10.8924 13.6425 7.49998 13.6425Z' fill='%239CA3AF'/%3E%3Cpath d='M10.4175 5.28752C10.0317 3.6762 8.41268 2.68276 6.80137 3.06856C5.44669 3.39292 4.4935 4.60707 4.49997 6.00003H5.99998C6.0704 5.17161 6.79905 4.55711 7.62747 4.62753C8.45589 4.69795 9.07039 5.4266 8.99997 6.25502C8.84676 7.00047 8.17802 7.52658 7.41748 7.50001C7.04883 7.50001 6.74997 7.79887 6.74997 8.16752V9.75H8.24998V8.895C9.83623 8.48596 10.8011 6.88013 10.4175 5.28752Z' fill='%239CA3AF'/%3E%3C/svg%3E%0A");
  background-size: contain;
  background-repeat: no-repeat;
}
@media (max-width: 1400px) {
  .scheme .modal_body {
    max-width: 800px;
  }
  .scheme__img {
    text-align: center;
  }
  .scheme__scroll {
    max-height: none;
  }
}
@media (max-width: 767px) {
  .scheme__img {
    margin-bottom: 70px;
  }
  .scheme__table tr {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }
  .scheme__table th {
    display: none;
  }
  .scheme__table td:nth-child(1) {
    width: 50%;
    color: #6B7280;
  }
  .scheme__table td:nth-child(2) {
    width: 50%;
    text-align: right;
  }
  .scheme__table td:nth-child(3) {
    width: 100%;
  }
  .scheme__table td:nth-child(4) {
    width: 50%;
  }
  .scheme__table td:nth-child(5) {
    width: 50%;
    text-align: right;
  }
}
@media (max-width: 500px) {
  .scheme .modal_content {
    padding: 30px 10px;
  }
}

.search {
  border: 1px solid #EFF0F2;
  background-color: #fff;
  margin-bottom: 76px;
}
.search__title {
  padding: 40px 40px 27px;
  margin-bottom: 0;
  border-bottom: 1px solid #EFF0F2;
  font-weight: 600;
  font-size: 30px;
  line-height: 21px;
  color: #1F2937;
}
.search__container {
  padding: 55px 35px;
}
.search__head {
  margin-bottom: 42px;
}
.search__col {
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
@media screen and (max-width: 991px) {
  .search__col {
    width: 100%;
  }
}
.search__input {
  width: 100%;
  max-width: 390px;
}
.search__btn {
  margin-left: 30px;
}
.search__accordion {
  border: 1px solid #EFF0F2;
}
.search__item:not(:last-child) {
  border-bottom: 1px solid #EFF0F2;
}
.search__trigger {
  padding: 20px;
  font-size: 15px;
  line-height: 21px;
  color: #111827;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  cursor: pointer;
  position: relative;
}
.search__trigger.active .search__arrow {
  -webkit-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  transform: rotate(180deg);
}
.search__content {
  padding: 0 20px 20px;
}
.search__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  max-width: 700px;
  padding-left: 30px;
}
.search__list li {
  white-space: nowrap;
  margin: 0 5px;
}
.search__arrow {
  position: absolute;
  top: 20px;
  left: 14px;
}
@media (max-width: 991px) {
  .search__col:nth-child(1) {
    margin-bottom: 50px;
  }
}
@media (max-width: 767px) {
  .search__list {
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  }
  .search__list li {
    width: 50%;
    margin: 0;
    margin-bottom: 13px;
  }
  .search__list li:last-child {
    margin-left: auto;
  }
}
@media (max-width: 500px) {
  .search {
    margin-bottom: 90px;
  }
  .search__title {
    padding: 30px 20px;
    font-size: 24px;
  }
  .search__head {
    margin-bottom: 30px;
  }
  .search__container {
    padding: 50px 20px;
  }
  .search__col {
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  }
  .search__btn {
    width: 100%;
    margin-left: 0;
    margin-top: 10px;
  }
  .search__trigger {
    padding: 18px 14px;
  }
  .search__content {
    padding: 0 10px 20px;
  }
  .search__list {
    padding-left: 20px;
  }
  .search__list li {
    font-size: 12px;
  }
  .search__list li:nth-child(1) {
    width: 40%;
  }
  .search__list li:nth-child(2) {
    width: 60%;
  }
  .search__list li:nth-child(3) {
    width: 60%;
  }
  .search__arrow {
    left: 10px;
  }
}

.lk-info {
  padding-bottom: 50px;
  border-bottom: 1px solid #EFF0F2;
  margin-bottom: 50px;
}
.lk-info__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  max-width: 620px;
  margin-left: -20px;
  margin-top: -40px;
}
.lk-info__col {
  max-width: 220px;
  margin-left: 20px;
}
.lk-info .input {
  margin-top: 40px;
}
.lk-info .new-btn {
  margin-top: 26px;
}
@media (max-width: 991px) {
  .lk-info__row {
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
  }
}
@media (max-width: 767px) {
  .lk-info {
    padding-bottom: 40px;
    margin-bottom: 40px;
  }
  .lk-info__row {
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-top: -60px;
  }
  .lk-info__col {
    width: 100%;
    margin-top: 20px;
    max-width: none;
  }
}

.requisites__head {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.requisites__title {
  font-weight: 600;
  font-size: 18px;
  line-height: 21px;
  color: #1F2937;
  margin-right: 10px;
}
.requisites__quest {
  margin-right: 50px;
}
.requisites__form {
  display: none;
  max-width: 330px;
}
.requisites__form.open {
  display: block;
}
.requisites .select {
  margin-top: 62px;
}
.requisites .input {
  margin-top: 43px;
}
.requisites .textarea {
  margin-top: 43px;
}
.requisites .textarea .scroll-content {
  height: 85px !important;
}
.requisites .textarea textarea {
  font-size: 15px;
}
@media (max-width: 500px) {
  .requisites .select {
    margin-top: 50px;
  }
}

.configuration__title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.configuration__title img {
  margin-left: 7px;
}
.configuration__block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-top: 10px;
  margin-bottom: 30px;
}
.configuration__name {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  width: 180px;
  -ms-flex-negative: 0;
  flex-shrink: 0;
  padding-top: 40px;
  font-size: 24px;
  line-height: 21px;
  color: #1F2937;
}
.configuration__form {
  width: 100%;
  padding-left: 50px;
  display: none;
}
.configuration__form.open {
  display: block;
}
.configuration .input {
  margin-top: 35px;
}
@media (max-width: 500px) {
  .configuration__title {
    margin-bottom: 35px;
  }
  .configuration__block {
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    padding-top: 0;
    margin-bottom: 40px;
  }
  .configuration__name {
    width: 100%;
    padding-top: 0;
    margin-bottom: 10px;
  }
  .configuration__form {
    padding-left: 0;
  }
}

.pricing {
  margin-bottom: 67px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}
.pricing__title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  font-weight: 600;
  font-size: 18px;
  line-height: 21px;
  color: #1F2937;
}
.pricing .user__btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-left: 7px;
  margin-right: 40px;
  padding: 7px 10px;
  font-size: 18px;
}
.pricing__remains {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  width: 100%;
  margin-top: 5px;
}
.pricing__remains img {
  margin-right: 6px;
  margin-top: 4px;
}
@media (max-width: 500px) {
  .pricing {
    margin-bottom: 50px;
    margin-top: -18px;
  }
  .pricing__remains {
    -webkit-box-ordinal-group: 4;
    -ms-flex-order: 3;
    order: 3;
    padding: 6px 0 18px;
  }
  .pricing .new-btn {
    -webkit-box-ordinal-group: 5;
    -ms-flex-order: 4;
    order: 4;
  }
}

.tariffs {
  display: none;
}
.tariffs__title {
  font-weight: 600;
  font-size: 18px;
  line-height: 21px;
  color: #1F2937;
  margin-bottom: 16px;
}
.tariffs__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-left: -10px;
}
.tariffs__col {
  padding-left: 10px;
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
}
.tariffs__swiper {
  overflow: hidden;
  position: relative;
  padding: 20px 2px 40px;
}
.tariffs__swiper .swiper-wrapper {
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.tariffs__swiper .swiper-slide {
  -webkit-box-flex: 0;
  -ms-flex-positive: 0;
  flex-grow: 0;
}
.tariffs__item {
  padding: 30px 25px 20px;
  text-align: center;
  position: relative;
}
.tariffs__item:before {
  content: "";
  display: block;
  border: 0.6px solid #F3F4F6;
  background: #FFFFFF;
  -webkit-box-shadow: 0px 4.2px 8.4px rgba(0, 0, 0, 0.07);
  box-shadow: 0px 4.2px 8.4px rgba(0, 0, 0, 0.07);
  border-radius: 9px;
  position: absolute;
  top: -1px;
  bottom: -1px;
  left: -1px;
  right: -1px;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
  z-index: 1;
}
.tariffs__item--active:before {
  border-color: #71EFEA;
  top: -20px;
  bottom: -20px;
}
.tariffs .new-btn {
  min-width: 160px;
  position: relative;
  z-index: 2;
}
.tariffs__name {
  display: inline-block;
  font-weight: bold;
  font-size: 18px;
  background: -webkit-gradient(linear, left top, right top, from(#01ABB0), to(#00CDAC));
  background: -o-linear-gradient(left, #01ABB0, #00CDAC);
  background: linear-gradient(to right, #01ABB0, #00CDAC);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  margin-bottom: 20px;
  position: relative;
  z-index: 2;
}
.tariffs__price {
  font-weight: bold;
  font-size: 18px;
  line-height: 13px;
  color: #1F2937;
  margin-bottom: 30px;
  position: relative;
  z-index: 2;
}
.tariffs__text {
  border-top: 1px solid #EFF0F2;
  font-size: 14px;
  line-height: 13px;
  color: #565656;
  margin-bottom: 30px;
  position: relative;
  z-index: 2;
}
.tariffs__text p {
  padding: 12px 0;
  border-bottom: 1px solid #EFF0F2;
}
@media (max-width: 1200px) {
  .tariffs .swiper-slide {
    width: 200px;
  }
}
@media (max-width: 500px) {
  .tariffs__title {
    margin-bottom: 20px;
  }
}

.history-pay {
  padding-top: 60px;
}
.history-pay__title {
  font-weight: 600;
  font-size: 18px;
  line-height: 21px;
  color: #1F2937;
  margin-bottom: 20px;
}
.history-pay__table {
  width: 100%;
  font-size: 14px;
  line-height: 17px;
  color: #1F2937;
  margin-bottom: 15px;
}
.history-pay__table td {
  padding: 10px;
  white-space: nowrap;
}
.history-pay__condition {
  padding-left: 20px;
  position: relative;
}
.history-pay__condition:after {
  content: "";
  display: block;
  width: 10px;
  height: 10px;
  border-radius: 100%;
  position: absolute;
  top: 4px;
  left: 0;
}
.history-pay__condition--wait:after {
  background-color: #FCD34D;
}
.history-pay__condition--pay:after {
  background-color: #10B981;
}
.history-pay__download img {
  margin-right: 7px;
}
.history-pay__pagination {
  padding: 0 4px;
}
.history-pay__pagination a {
  padding: 6px;
  margin: 0 2px;
  font-size: 14px;
  line-height: 21px;
  color: #6B7280;
}
.history-pay__pagination a:hover {
  color: #0054B9;
}
.history-pay__pagination a.active {
  color: #1F2937;
}
.history-pay__pagination span {
  padding: 6px;
  margin: 0 2px;
  font-size: 14px;
  line-height: 21px;
  color: #6B7280;
}
@media (max-width: 767px) {
  .history-pay__table tr {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    padding: 10px 0;
  }
  .history-pay__table td {
    width: 50%;
  }
  .history-pay__table td:nth-child(2) {
    -webkit-box-ordinal-group: 4;
    -ms-flex-order: 3;
    order: 3;
  }
  .history-pay__table td:nth-child(3) {
    -webkit-box-ordinal-group: 3;
    -ms-flex-order: 2;
    order: 2;
  }
  .history-pay__table td:nth-child(4) {
    -webkit-box-ordinal-group: 5;
    -ms-flex-order: 4;
    order: 4;
  }
}
@media (max-width: 500px) {
  .history-pay {
    padding-top: 50px;
  }
}

.enter__body {
  max-width: 650px;
}
.enter__content {
  height: 620px;
}
.enter__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  max-width: 410px;
  height: 100%;
  margin-left: auto;
  margin-right: auto;
}
.enter__title {
  margin-bottom: 80px;
  font-weight: 600;
  font-size: 34px;
  text-align: center;
  color: #1F2937;
}
.enter__form {
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
}
.enter .input {
  margin-top: 50px;
}
.enter .input input {
  height: 50px;
  border-radius: 5px;
}
.enter .new-btn {
  width: 100%;
  height: 50px;
  margin-top: 40px;
  background: -webkit-gradient(linear, left top, right top, from(#02AAB0), to(#00CDAC)), #C4C4C4;
  background: -o-linear-gradient(left, #02AAB0 0%, #00CDAC 100%), #C4C4C4;
  background: linear-gradient(90deg, #02AAB0 0%, #00CDAC 100%), #C4C4C4;
  position: relative;
}
.enter .new-btn:before {
  content: "";
  display: block;
  background: -webkit-gradient(linear, left top, left bottom, from(#02AAB0), to(#00CDAC)), #C4C4C4;
  background: -o-linear-gradient(top, #02AAB0 0%, #00CDAC 100%), #C4C4C4;
  background: linear-gradient(180deg, #02AAB0 0%, #00CDAC 100%), #C4C4C4;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1;
  opacity: 0;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}
.enter .new-btn span {
  position: relative;
  z-index: 2;
}
.enter .new-btn:hover:before {
  opacity: 1;
}
.enter__repeat {
  margin-top: 20px;
  font-weight: 600;
  color: #4B5563;
}
.enter__counter {
  font-size: 16px;
}
.enter__footer {
  text-align: center;
  font-size: 14px;
  color: #6B7280;
}
.enter__footer a {
  color: #0054B9;
}
@media (max-width: 500px) {
  .enter__content {
    height: 530px;
    padding: 20px 20px;
  }
  .enter__title {
    margin-bottom: 40px;
    font-size: 22px;
  }
}

.policy {
  margin: 50px 0 70px;
  padding: 40px 30px 20px;
  background-color: #fff;
}
.policy__title {
  margin-bottom: 50px;
  font-weight: 600;
  font-size: 30px;
  line-height: 40px;
  color: #1F2937;
}
.policy__text {
  color: #1F2937;
}
.policy__text p {
  font-size: 16px;
  line-height: 32px;
}
.policy__text h2 {
  font-size: 18px;
  font-weight: 600;
  line-height: 36px;
  margin-bottom: 10px;
}
.policy__block {
  margin-bottom: 30px;
}
@media (max-width: 500px) {
  .policy {
    margin-left: -30px;
    margin-right: -30px;
  }
  .policy__title {
    font-size: 26px;
    line-height: 34px;
    margin-bottom: 30px;
  }
}

.page-404 {
  padding: 30px 0;
  background-color: #fff;
  text-align: center;
  margin-bottom: 30px;
}
.page-404__img {
  margin-bottom: 67px;
}
.page-404__title {
  margin-bottom: 5px;
  font-weight: bold;
  font-size: 36px;
  line-height: 44px;
  color: #1F2937;
}
.page-404__link a {
  color: #3DBCE1;
}
@media (max-width: 991px) {
  .page-404 {
    margin-top: 20px;
  }
}
@media (max-width: 500px) {
  .page-404 {
    margin-left: -30px;
    margin-right: -30px;
    padding-left: 30px;
    padding-right: 30px;
  }
  .page-404__title {
    font-size: 30px;
    line-height: 36px;
  }
}