include ../html_blocks/header-enter.html

.page

  .container

    // page-404
    .page-404
      .page-404__img 
        img(src="img/404.svg", alt="")
      .page-404__title Страница не найдена
      .page-404__link 
        a(href="#") Вернуться на главную
    //	/page-404

include ../html_blocks/footer.html