include ../html_blocks/header-enter.html

.page

  .container

    // breadcrumbs
    .breadcrumbs
      ul.breadcrumbs__list 
        li 
          a(href="#") Личный кабинет
        li 
          a(href="#") Мои склады
        li 
          span Добавить стеллаж
    //	/breadcrumbs

    // borderblock
    .borderblock
      .borderblock__head 
        h1.borderblock__title Добавить стеллаж
      .borderblock__body 
        // addstockroom
        .addstockroom
          .row-grid 
            .addstockroom__col
              form(action="#").addstockroom__form.js-addblock
                .addstockroom__row-1 
                  .addstockroom__span Предварительное название: 
                  .addstockroom__name.addstockroom__name--big.copy-text СК1056А200-1
                    img(src="img/copy.svg", alt="")
                .addstockroom__switch 
                  span Есть ли у вас в одной ячейке еще контейнеры?
                  .switch.js-switch(data-block="#switchBlock")
                    input#switch(type="checkbox")
                    label(for="switch") 
                .addstockroom__swicth-block#switchBlock
                  .select.select--1
                    .select__trigger 
                      span
                      .select__label Выберите стеллаж
                      .select__arrow 
                        <svg width="14" height="8" viewBox="0 0 14 8" xmlns="http://www.w3.org/2000/svg">
                          <path d="M7 1.81251L1.31249 7.5H0L7 0.5L14 7.5H12.6875L7 1.81251Z" fill="#6B7280"/>
                        </svg>
                    .select__drop
                      ul.select__list.scrollbar-inner
                        each val, index in ['056А', '056Б', '056В', '056Г',]
                          li
                            input(id="selectStockroom_" + index type="radio" name="select")
                            label(for="selectStockroom_" + index)= val
                  .select.select--2
                    .select__trigger 
                      span
                      .select__label Выберите номер ячейки
                      .select__arrow 
                        <svg width="14" height="8" viewBox="0 0 14 8" xmlns="http://www.w3.org/2000/svg">
                          <path d="M7 1.81251L1.31249 7.5H0L7 0.5L14 7.5H12.6875L7 1.81251Z" fill="#6B7280"/>
                        </svg>
                    .select__drop
                      ul.select__list.scrollbar-inner
                        each val, index in ['1', '2', '3', '4', '5', '6', '7', '8', '9', '10', '11', '12',]
                          li
                            input(id="selectCell_" + index type="radio" name="select")
                            label(for="selectCell_" + index)= val
                  .input.input--1
                    input(type="text")
                    .input__label Укажите сколько контейнеров в ячейке
                  .addstockroom__row-2
                    .addstockroom__span Нахождение товара будет выглядеть как:
                    .addstockroom__name.copy-text СК1Вавилова056А200-1/6784675
                      img(src="img/copy.svg", alt="")
              .addstockroom__add 
                .btn-dashed.js-addbtn
                  <svg width="21" height="21" viewBox="0 0 21 21" xmlns="http://www.w3.org/2000/svg">
                    <path d="M10.5 0C4.71023 0 0 4.71032 0 10.5C0 16.2897 4.71023 21 10.5 21C16.2898 21 21 16.2897 21 10.5C21 4.71032 16.2898 0 10.5 0ZM10.5 18.9678C5.8309 18.9678 2.03224 15.1691 2.03224 10.5C2.03224 5.83086 5.8309 2.03224 10.5 2.03224C15.1691 2.03224 18.9678 5.8309 18.9678 10.5C18.9678 15.1691 15.1691 18.9678 10.5 18.9678Z"/>
                    <path d="M11.5164 9.48412V5.7583H9.48412V9.48412H5.7583V11.5164H9.48412V15.2422H11.5164V11.5164H15.2422V9.48412H11.5164Z"/>
                  </svg>
                  span Добавить еще
            .addstockroom__col
              img(src="img/stockroom_icon_3.jpg", alt="")
            .addstockroom__col
              .addstockroom__printer
                img(src="img/printer.svg", alt="")
              .addstockroom__qr
                img(src="img/qr.svg", alt="")
          .addstockroom__nav 
            a(href="add-stockroom_2.html").addstockroom__navbtn.addstockroom__navbtn--prev
              <svg width="22" height="12" viewBox="0 0 22 12"xmlns="http://www.w3.org/2000/svg">
                <path d="M21.725 5.33639L21.7242 5.3355L16.8256 0.460497C16.4586 0.0952938 15.865 0.0966529 15.4997 0.463684C15.1345 0.830669 15.1359 1.42425 15.5028 1.7895L18.7918 5.0625H1C0.482219 5.0625 0.0625 5.48222 0.0625 6C0.0625 6.51778 0.482219 6.9375 1 6.9375H18.7917L15.5029 10.2105C15.1359 10.5757 15.1345 11.1693 15.4998 11.5363C15.865 11.9034 16.4587 11.9047 16.8256 11.5395L21.7242 6.6645L21.7251 6.66361C22.0923 6.29714 22.0911 5.70164 21.725 5.33639Z"/>
              </svg>
              span Предыдущий шаг
            .addstockroom__navbtn.addstockroom__navbtn--next.modal-trigger(data-modal="#addstockroom")
              span Сохранить склад
              <svg width="15" height="15" viewBox="0 0 15 15" xmlns="http://www.w3.org/2000/svg">
                <g clip-path="url(#clip0)">
                <path d="M10.909 10.9092H4.09082V12.2728H10.909V10.9092Z"/>
                <path d="M4.09082 13.6362V14.318V14.9998H10.909V14.318V13.6362H4.09082Z"/>
                <path d="M14.8634 3.92118L12.1237 0.272461C11.995 0.100957 11.793 0 11.5785 0H10.4546V0.681826V1.36365V5.68184C10.4546 6.05833 10.1493 6.36366 9.77273 6.36366H3.4091C3.03255 6.36366 2.72728 6.05833 2.72728 5.68184V1.36362V0.681826V0H0.681826C0.305273 0 0 0.305332 0 0.681826V14.3182C0 14.6947 0.305273 15 0.681826 15H2.72728V14.3182V13.6363V12.9545V10.2272C2.72728 9.85066 3.03255 9.54542 3.4091 9.54542H11.5909C11.9675 9.54542 12.2728 9.85063 12.2728 10.2272V12.9545V13.6363V14.3182V15H14.3182C14.6947 15 15 14.6947 15 14.3182V4.33058C15 4.18295 14.952 4.03922 14.8634 3.92118Z"/>
                <path d="M4.09082 0V0.681826V1.36362V5.00001H9.09083V1.36362V0.681826V0H4.09082Z"/>
                </g>
                <defs>
                <clipPath id="clip0">
                <rect width="15" height="15"/>
                </clipPath>
                </defs>
              </svg>

        //	/addstockroom
    //	/borderblock

    // modal message
    .message.message--maw410.modal#addstockroom
      .modal_body
        form(action="#").modal_content
          .message__title Сохранить склад
          .message__text Вы создали стеллаж склада 
            b СК1Вавилон056А 
            | с количеством ячеек 
            b 305
          .message__btns 
            button(type="submit").new-btn.new-btn--green Сохранить
            .new-btn.new-btn--black.js-modal_close Закрыть
          .modal_close.js-modal_close
    // /modal message
    
    //- // modal message
    //- .message.message.modal#addstockroom
    //-   .modal_body
    //-     form(action="#").modal_content
    //-       .message__title Удалить склад?
    //-       .message__text Вы действительно хотите удалить этот склад 
    //-       .message__btns 
    //-         .new-btn.new-btn--green.js-modal_close Отменить
    //-         button(type="submit").new-btn.new-btn--red Удалить
    //-       .modal_close.js-modal_close
    //- // /modal message

    //- // modal message
    //- .message.message.modal#addstockroom
    //-   .modal_body
    //-     form(action="#").modal_content
    //-       .message__title Удалить ячейку?
    //-       .message__text Вы действительно хотите удалить этот склад 
    //-       .message__btns 
    //-         .new-btn.new-btn--green.js-modal_close Отменить
    //-         button(type="submit").new-btn.new-btn--red Удалить
    //-       .modal_close.js-modal_close
    //- // /modal message

include ../html_blocks/footer.html