include ../html_blocks/header-enter.html

.page

  .container

    // search
    form(action="#").search

      h1.search__title История подбора

      .search__container

        .search__head
          .row-grid 
            .search__col 
              .search__input.input 
                input(type="text" placeholder="Поиск по VIN коду / Frame")
                .input__label Поиск по VIN
              button(type="submit").search__btn.new-btn.new-btn--green Найти
            .search__col 
              .search__input.input 
                input(type="text" placeholder="Поиск по номеру телефона")
                .input__label Поиск по номеру телефона
              button(type="submit").search__btn.new-btn.new-btn--blue Найти

        .search__accordion.accordion
          .search__item.accordion__item
            .search__trigger.accordion__trigger(data-trigger="trigger_1")
              img(src="img/arrow.svg", alt="").search__arrow
              ul.search__list
                li 05.09.2021
                li WBAFB71041LX52177
                li +7 915 759 69 89

            #trigger_1.search__content.accordion__content
              
              .details__item 
                .row-grid
                  .details__col.details__col--1
                    .details__title Панель передняя
                  .details__col.details__col--2
                    .details__chunk
                      .details__content
                        .details__num.copy-text.tooltipster(title="Копировать номер") 7106C2
                          img(src="img/copy.svg", alt="")
                        .details__name (Поперечина переднего фасада)
                      .details__img.modal-trigger(data-modal="#modalScheme")
                        .details__scheme
                          img(src="img/scheme.jpg", alt="")
                          .details__scheme-num 10
                        p Деталь на схеме №10
                    .details__chunk
                      .details__content
                        .details__num.copy-text.tooltipster(title="Копировать номер") 1308СА
                          img(src="img/copy.svg", alt="")
                        .details__name (Дефлектор вентилятор охл. Двиг.)   
                      .details__img.modal-trigger(data-modal="#modalScheme")
                        .details__scheme
                          img(src="img/scheme.jpg", alt="")
                          .details__scheme-num 10
                        p Деталь на схеме №10  
                  .details__col.details__col--4
                    .details__comment 
                      .textarea#comment_3
                        textarea(placeholder="Добавьте комментарий").scrollbar-inner
                      .details__icon.js-drop-btn-comment(data-drop="comment_3")
                        <svg width="20" height="20" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
                          <g clip-path="url(#clip0)">
                          <path d="M0.768433 18.4641C0.947113 18.4641 1.12274 18.4013 1.26343 18.2825L5.52734 15.2022H19.2674C19.6713 15.2022 20 14.8735 20 14.4696V2.25601C20 1.85211 19.6713 1.52344 19.2674 1.52344H0.732574C0.328674 1.52344 0 1.85211 0 2.25601V17.6958C0 18.0066 0.185394 18.2848 0.47226 18.4044C0.568237 18.4445 0.668793 18.4641 0.768433 18.4641ZM4.91272 14.2004L1.17188 16.9029V2.69531H18.8281V14.0303H5.38239C5.20874 14.0303 5.04425 14.0903 4.91272 14.2004Z"/>
                          <path d="M3.56479 5.44342H16.4452C16.7688 5.44342 17.0311 5.18112 17.0311 4.85748C17.0311 4.53384 16.7688 4.27155 16.4452 4.27155H3.56479C3.24115 4.27155 2.97885 4.53384 2.97885 4.85748C2.97885 5.18112 3.24115 5.44342 3.56479 5.44342Z"/>
                          <path d="M3.56479 7.78717H16.4452C16.7688 7.78717 17.0311 7.52487 17.0311 7.20123C17.0311 6.87759 16.7688 6.6153 16.4452 6.6153H3.56479C3.24115 6.6153 2.97885 6.87759 2.97885 7.20123C2.97885 7.52487 3.24115 7.78717 3.56479 7.78717Z"/>
                          <path d="M3.56537 10.1309H16.4459C16.7694 10.1309 17.0319 9.86862 17.0319 9.54498C17.0319 9.22134 16.7694 8.95905 16.4459 8.95905H3.56537C3.24188 8.95905 2.97943 9.22134 2.97943 9.54498C2.97943 9.86862 3.24188 10.1309 3.56537 10.1309Z"/>
                          <path d="M13.1128 12.4747H16.4061C16.7296 12.4747 16.9921 12.2124 16.9921 11.8887C16.9921 11.5651 16.7296 11.3028 16.4061 11.3028H13.1128C12.7893 11.3028 12.5269 11.5651 12.5269 11.8887C12.5269 12.2124 12.7893 12.4747 13.1128 12.4747Z"/>
                          </g>
                          <defs>
                          <clipPath id="clip0">
                          <rect width="20" height="20" transform="matrix(-1 0 0 1 20 0)"/>
                          </clipPath>
                          </defs>
                        </svg>

              .details__item 
                .row-grid
                  .details__col.details__col--1
                    .details__title Панель передняя
                  .details__col.details__col--2
                    .details__chunk
                      .details__content
                        .details__num.copy-text.tooltipster(title="Копировать номер") 7106C2
                          img(src="img/copy.svg", alt="")
                        .details__name (Поперечина переднего фасада)
                      .details__img.modal-trigger(data-modal="#modalScheme")
                        .details__scheme
                          img(src="img/scheme.jpg", alt="")
                          .details__scheme-num 10
                        p Деталь на схеме №10
                    .details__chunk
                      .details__content
                        .details__num.copy-text.tooltipster(title="Копировать номер") 1308СА
                          img(src="img/copy.svg", alt="")
                        .details__name (Дефлектор вентилятор охл. Двиг.)   
                      .details__img.modal-trigger(data-modal="#modalScheme")
                        .details__scheme
                          img(src="img/scheme.jpg", alt="")
                          .details__scheme-num 10
                        p Деталь на схеме №10  
                  .details__col.details__col--4
                    .details__comment 
                      .textarea#comment_4
                        textarea(placeholder="Добавьте комментарий").scrollbar-inner
                      .details__icon.js-drop-btn-comment(data-drop="comment_4")
                        <svg width="20" height="20" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
                          <g clip-path="url(#clip0)">
                          <path d="M0.768433 18.4641C0.947113 18.4641 1.12274 18.4013 1.26343 18.2825L5.52734 15.2022H19.2674C19.6713 15.2022 20 14.8735 20 14.4696V2.25601C20 1.85211 19.6713 1.52344 19.2674 1.52344H0.732574C0.328674 1.52344 0 1.85211 0 2.25601V17.6958C0 18.0066 0.185394 18.2848 0.47226 18.4044C0.568237 18.4445 0.668793 18.4641 0.768433 18.4641ZM4.91272 14.2004L1.17188 16.9029V2.69531H18.8281V14.0303H5.38239C5.20874 14.0303 5.04425 14.0903 4.91272 14.2004Z"/>
                          <path d="M3.56479 5.44342H16.4452C16.7688 5.44342 17.0311 5.18112 17.0311 4.85748C17.0311 4.53384 16.7688 4.27155 16.4452 4.27155H3.56479C3.24115 4.27155 2.97885 4.53384 2.97885 4.85748C2.97885 5.18112 3.24115 5.44342 3.56479 5.44342Z"/>
                          <path d="M3.56479 7.78717H16.4452C16.7688 7.78717 17.0311 7.52487 17.0311 7.20123C17.0311 6.87759 16.7688 6.6153 16.4452 6.6153H3.56479C3.24115 6.6153 2.97885 6.87759 2.97885 7.20123C2.97885 7.52487 3.24115 7.78717 3.56479 7.78717Z"/>
                          <path d="M3.56537 10.1309H16.4459C16.7694 10.1309 17.0319 9.86862 17.0319 9.54498C17.0319 9.22134 16.7694 8.95905 16.4459 8.95905H3.56537C3.24188 8.95905 2.97943 9.22134 2.97943 9.54498C2.97943 9.86862 3.24188 10.1309 3.56537 10.1309Z"/>
                          <path d="M13.1128 12.4747H16.4061C16.7296 12.4747 16.9921 12.2124 16.9921 11.8887C16.9921 11.5651 16.7296 11.3028 16.4061 11.3028H13.1128C12.7893 11.3028 12.5269 11.5651 12.5269 11.8887C12.5269 12.2124 12.7893 12.4747 13.1128 12.4747Z"/>
                          </g>
                          <defs>
                          <clipPath id="clip0">
                          <rect width="20" height="20" transform="matrix(-1 0 0 1 20 0)"/>
                          </clipPath>
                          </defs>
                        </svg>

          .search__item.accordion__item
            .search__trigger.accordion__trigger(data-trigger="trigger_2")
              img(src="img/arrow.svg", alt="").search__arrow
              ul.search__list
                li 05.09.2021
                li WBAFB71041LX52177
                li +7 915 759 69 89

            #trigger_2.search__content.accordion__content
              
              .details__item 
                .row-grid
                  .details__col.details__col--1
                    .details__title Панель передняя
                  .details__col.details__col--2
                    .details__chunk
                      .details__content
                        .details__num.copy-text.tooltipster(title="Копировать номер") 7106C2
                          img(src="img/copy.svg", alt="")
                        .details__name (Поперечина переднего фасада)
                      .details__img.modal-trigger(data-modal="#modalScheme")
                        .details__scheme
                          img(src="img/scheme.jpg", alt="")
                          .details__scheme-num 10
                        p Деталь на схеме №10
                    .details__chunk
                      .details__content
                        .details__num.copy-text.tooltipster(title="Копировать номер") 1308СА
                          img(src="img/copy.svg", alt="")
                        .details__name (Дефлектор вентилятор охл. Двиг.)   
                      .details__img.modal-trigger(data-modal="#modalScheme")
                        .details__scheme
                          img(src="img/scheme.jpg", alt="")
                          .details__scheme-num 10
                        p Деталь на схеме №10  
                  .details__col.details__col--4
                    .details__comment 
                      .textarea#comment_3
                        textarea(placeholder="Добавьте комментарий").scrollbar-inner
                      .details__icon.js-drop-btn-comment(data-drop="comment_3")
                        <svg width="20" height="20" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
                          <g clip-path="url(#clip0)">
                          <path d="M0.768433 18.4641C0.947113 18.4641 1.12274 18.4013 1.26343 18.2825L5.52734 15.2022H19.2674C19.6713 15.2022 20 14.8735 20 14.4696V2.25601C20 1.85211 19.6713 1.52344 19.2674 1.52344H0.732574C0.328674 1.52344 0 1.85211 0 2.25601V17.6958C0 18.0066 0.185394 18.2848 0.47226 18.4044C0.568237 18.4445 0.668793 18.4641 0.768433 18.4641ZM4.91272 14.2004L1.17188 16.9029V2.69531H18.8281V14.0303H5.38239C5.20874 14.0303 5.04425 14.0903 4.91272 14.2004Z"/>
                          <path d="M3.56479 5.44342H16.4452C16.7688 5.44342 17.0311 5.18112 17.0311 4.85748C17.0311 4.53384 16.7688 4.27155 16.4452 4.27155H3.56479C3.24115 4.27155 2.97885 4.53384 2.97885 4.85748C2.97885 5.18112 3.24115 5.44342 3.56479 5.44342Z"/>
                          <path d="M3.56479 7.78717H16.4452C16.7688 7.78717 17.0311 7.52487 17.0311 7.20123C17.0311 6.87759 16.7688 6.6153 16.4452 6.6153H3.56479C3.24115 6.6153 2.97885 6.87759 2.97885 7.20123C2.97885 7.52487 3.24115 7.78717 3.56479 7.78717Z"/>
                          <path d="M3.56537 10.1309H16.4459C16.7694 10.1309 17.0319 9.86862 17.0319 9.54498C17.0319 9.22134 16.7694 8.95905 16.4459 8.95905H3.56537C3.24188 8.95905 2.97943 9.22134 2.97943 9.54498C2.97943 9.86862 3.24188 10.1309 3.56537 10.1309Z"/>
                          <path d="M13.1128 12.4747H16.4061C16.7296 12.4747 16.9921 12.2124 16.9921 11.8887C16.9921 11.5651 16.7296 11.3028 16.4061 11.3028H13.1128C12.7893 11.3028 12.5269 11.5651 12.5269 11.8887C12.5269 12.2124 12.7893 12.4747 13.1128 12.4747Z"/>
                          </g>
                          <defs>
                          <clipPath id="clip0">
                          <rect width="20" height="20" transform="matrix(-1 0 0 1 20 0)"/>
                          </clipPath>
                          </defs>
                        </svg>

              .details__item 
                .row-grid
                  .details__col.details__col--1
                    .details__title Панель передняя
                  .details__col.details__col--2
                    .details__chunk
                      .details__content
                        .details__num.copy-text.tooltipster(title="Копировать номер") 7106C2
                          img(src="img/copy.svg", alt="")
                        .details__name (Поперечина переднего фасада)
                      .details__img.modal-trigger(data-modal="#modalScheme")
                        .details__scheme
                          img(src="img/scheme.jpg", alt="")
                          .details__scheme-num 10
                        p Деталь на схеме №10
                    .details__chunk
                      .details__content
                        .details__num.copy-text.tooltipster(title="Копировать номер") 1308СА
                          img(src="img/copy.svg", alt="")
                        .details__name (Дефлектор вентилятор охл. Двиг.)   
                      .details__img.modal-trigger(data-modal="#modalScheme")
                        .details__scheme
                          img(src="img/scheme.jpg", alt="")
                          .details__scheme-num 10
                        p Деталь на схеме №10  
                  .details__col.details__col--4
                    .details__comment 
                      .textarea#comment_4
                        textarea(placeholder="Добавьте комментарий").scrollbar-inner
                      .details__icon.js-drop-btn-comment(data-drop="comment_4")
                        <svg width="20" height="20" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
                          <g clip-path="url(#clip0)">
                          <path d="M0.768433 18.4641C0.947113 18.4641 1.12274 18.4013 1.26343 18.2825L5.52734 15.2022H19.2674C19.6713 15.2022 20 14.8735 20 14.4696V2.25601C20 1.85211 19.6713 1.52344 19.2674 1.52344H0.732574C0.328674 1.52344 0 1.85211 0 2.25601V17.6958C0 18.0066 0.185394 18.2848 0.47226 18.4044C0.568237 18.4445 0.668793 18.4641 0.768433 18.4641ZM4.91272 14.2004L1.17188 16.9029V2.69531H18.8281V14.0303H5.38239C5.20874 14.0303 5.04425 14.0903 4.91272 14.2004Z"/>
                          <path d="M3.56479 5.44342H16.4452C16.7688 5.44342 17.0311 5.18112 17.0311 4.85748C17.0311 4.53384 16.7688 4.27155 16.4452 4.27155H3.56479C3.24115 4.27155 2.97885 4.53384 2.97885 4.85748C2.97885 5.18112 3.24115 5.44342 3.56479 5.44342Z"/>
                          <path d="M3.56479 7.78717H16.4452C16.7688 7.78717 17.0311 7.52487 17.0311 7.20123C17.0311 6.87759 16.7688 6.6153 16.4452 6.6153H3.56479C3.24115 6.6153 2.97885 6.87759 2.97885 7.20123C2.97885 7.52487 3.24115 7.78717 3.56479 7.78717Z"/>
                          <path d="M3.56537 10.1309H16.4459C16.7694 10.1309 17.0319 9.86862 17.0319 9.54498C17.0319 9.22134 16.7694 8.95905 16.4459 8.95905H3.56537C3.24188 8.95905 2.97943 9.22134 2.97943 9.54498C2.97943 9.86862 3.24188 10.1309 3.56537 10.1309Z"/>
                          <path d="M13.1128 12.4747H16.4061C16.7296 12.4747 16.9921 12.2124 16.9921 11.8887C16.9921 11.5651 16.7296 11.3028 16.4061 11.3028H13.1128C12.7893 11.3028 12.5269 11.5651 12.5269 11.8887C12.5269 12.2124 12.7893 12.4747 13.1128 12.4747Z"/>
                          </g>
                          <defs>
                          <clipPath id="clip0">
                          <rect width="20" height="20" transform="matrix(-1 0 0 1 20 0)"/>
                          </clipPath>
                          </defs>
                        </svg>

          .search__item.accordion__item
            .search__trigger.accordion__trigger(data-trigger="trigger_3")
              img(src="img/arrow.svg", alt="").search__arrow
              ul.search__list
                li 05.09.2021
                li WBAFB71041LX52177
                li +7 915 759 69 89

            #trigger_3.search__content.accordion__content
              
              .details__item 
                .row-grid
                  .details__col.details__col--1
                    .details__title Панель передняя
                  .details__col.details__col--2
                    .details__chunk
                      .details__content
                        .details__num.copy-text.tooltipster(title="Копировать номер") 7106C2
                          img(src="img/copy.svg", alt="")
                        .details__name (Поперечина переднего фасада)
                      .details__img.modal-trigger(data-modal="#modalScheme")
                        .details__scheme
                          img(src="img/scheme.jpg", alt="")
                          .details__scheme-num 10
                        p Деталь на схеме №10
                    .details__chunk
                      .details__content
                        .details__num.copy-text.tooltipster(title="Копировать номер") 1308СА
                          img(src="img/copy.svg", alt="")
                        .details__name (Дефлектор вентилятор охл. Двиг.)   
                      .details__img.modal-trigger(data-modal="#modalScheme")
                        .details__scheme
                          img(src="img/scheme.jpg", alt="")
                          .details__scheme-num 10
                        p Деталь на схеме №10  
                  .details__col.details__col--4
                    .details__comment 
                      .textarea#comment_3
                        textarea(placeholder="Добавьте комментарий").scrollbar-inner
                      .details__icon.js-drop-btn-comment(data-drop="comment_3")
                        <svg width="20" height="20" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
                          <g clip-path="url(#clip0)">
                          <path d="M0.768433 18.4641C0.947113 18.4641 1.12274 18.4013 1.26343 18.2825L5.52734 15.2022H19.2674C19.6713 15.2022 20 14.8735 20 14.4696V2.25601C20 1.85211 19.6713 1.52344 19.2674 1.52344H0.732574C0.328674 1.52344 0 1.85211 0 2.25601V17.6958C0 18.0066 0.185394 18.2848 0.47226 18.4044C0.568237 18.4445 0.668793 18.4641 0.768433 18.4641ZM4.91272 14.2004L1.17188 16.9029V2.69531H18.8281V14.0303H5.38239C5.20874 14.0303 5.04425 14.0903 4.91272 14.2004Z"/>
                          <path d="M3.56479 5.44342H16.4452C16.7688 5.44342 17.0311 5.18112 17.0311 4.85748C17.0311 4.53384 16.7688 4.27155 16.4452 4.27155H3.56479C3.24115 4.27155 2.97885 4.53384 2.97885 4.85748C2.97885 5.18112 3.24115 5.44342 3.56479 5.44342Z"/>
                          <path d="M3.56479 7.78717H16.4452C16.7688 7.78717 17.0311 7.52487 17.0311 7.20123C17.0311 6.87759 16.7688 6.6153 16.4452 6.6153H3.56479C3.24115 6.6153 2.97885 6.87759 2.97885 7.20123C2.97885 7.52487 3.24115 7.78717 3.56479 7.78717Z"/>
                          <path d="M3.56537 10.1309H16.4459C16.7694 10.1309 17.0319 9.86862 17.0319 9.54498C17.0319 9.22134 16.7694 8.95905 16.4459 8.95905H3.56537C3.24188 8.95905 2.97943 9.22134 2.97943 9.54498C2.97943 9.86862 3.24188 10.1309 3.56537 10.1309Z"/>
                          <path d="M13.1128 12.4747H16.4061C16.7296 12.4747 16.9921 12.2124 16.9921 11.8887C16.9921 11.5651 16.7296 11.3028 16.4061 11.3028H13.1128C12.7893 11.3028 12.5269 11.5651 12.5269 11.8887C12.5269 12.2124 12.7893 12.4747 13.1128 12.4747Z"/>
                          </g>
                          <defs>
                          <clipPath id="clip0">
                          <rect width="20" height="20" transform="matrix(-1 0 0 1 20 0)"/>
                          </clipPath>
                          </defs>
                        </svg>

              .details__item 
                .row-grid
                  .details__col.details__col--1
                    .details__title Панель передняя
                  .details__col.details__col--2
                    .details__chunk
                      .details__content
                        .details__num.copy-text.tooltipster(title="Копировать номер") 7106C2
                          img(src="img/copy.svg", alt="")
                        .details__name (Поперечина переднего фасада)
                      .details__img.modal-trigger(data-modal="#modalScheme")
                        .details__scheme
                          img(src="img/scheme.jpg", alt="")
                          .details__scheme-num 10
                        p Деталь на схеме №10
                    .details__chunk
                      .details__content
                        .details__num.copy-text.tooltipster(title="Копировать номер") 1308СА
                          img(src="img/copy.svg", alt="")
                        .details__name (Дефлектор вентилятор охл. Двиг.)   
                      .details__img.modal-trigger(data-modal="#modalScheme")
                        .details__scheme
                          img(src="img/scheme.jpg", alt="")
                          .details__scheme-num 10
                        p Деталь на схеме №10  
                  .details__col.details__col--4
                    .details__comment 
                      .textarea#comment_4
                        textarea(placeholder="Добавьте комментарий").scrollbar-inner
                      .details__icon.js-drop-btn-comment(data-drop="comment_4")
                        <svg width="20" height="20" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
                          <g clip-path="url(#clip0)">
                          <path d="M0.768433 18.4641C0.947113 18.4641 1.12274 18.4013 1.26343 18.2825L5.52734 15.2022H19.2674C19.6713 15.2022 20 14.8735 20 14.4696V2.25601C20 1.85211 19.6713 1.52344 19.2674 1.52344H0.732574C0.328674 1.52344 0 1.85211 0 2.25601V17.6958C0 18.0066 0.185394 18.2848 0.47226 18.4044C0.568237 18.4445 0.668793 18.4641 0.768433 18.4641ZM4.91272 14.2004L1.17188 16.9029V2.69531H18.8281V14.0303H5.38239C5.20874 14.0303 5.04425 14.0903 4.91272 14.2004Z"/>
                          <path d="M3.56479 5.44342H16.4452C16.7688 5.44342 17.0311 5.18112 17.0311 4.85748C17.0311 4.53384 16.7688 4.27155 16.4452 4.27155H3.56479C3.24115 4.27155 2.97885 4.53384 2.97885 4.85748C2.97885 5.18112 3.24115 5.44342 3.56479 5.44342Z"/>
                          <path d="M3.56479 7.78717H16.4452C16.7688 7.78717 17.0311 7.52487 17.0311 7.20123C17.0311 6.87759 16.7688 6.6153 16.4452 6.6153H3.56479C3.24115 6.6153 2.97885 6.87759 2.97885 7.20123C2.97885 7.52487 3.24115 7.78717 3.56479 7.78717Z"/>
                          <path d="M3.56537 10.1309H16.4459C16.7694 10.1309 17.0319 9.86862 17.0319 9.54498C17.0319 9.22134 16.7694 8.95905 16.4459 8.95905H3.56537C3.24188 8.95905 2.97943 9.22134 2.97943 9.54498C2.97943 9.86862 3.24188 10.1309 3.56537 10.1309Z"/>
                          <path d="M13.1128 12.4747H16.4061C16.7296 12.4747 16.9921 12.2124 16.9921 11.8887C16.9921 11.5651 16.7296 11.3028 16.4061 11.3028H13.1128C12.7893 11.3028 12.5269 11.5651 12.5269 11.8887C12.5269 12.2124 12.7893 12.4747 13.1128 12.4747Z"/>
                          </g>
                          <defs>
                          <clipPath id="clip0">
                          <rect width="20" height="20" transform="matrix(-1 0 0 1 20 0)"/>
                          </clipPath>
                          </defs>
                        </svg>

    //	/search

    // modal scheme
    .scheme.modal#modalScheme
      .modal_body
        form(action="#").modal_content
          .row-grid
            .scheme__col 
              .scheme__img 
                img(src="img/scheme_2.jpg", alt="")
                p Узел 11_3461: Ременный привод водяной помпы/генератора
              .scheme__mouse 
                img(src="img/mouse.svg", alt="")
            .scheme__col 
              .scheme__scroll-hide
                .scheme__scroll
                  table.scheme__table
                    tr
                      th №
                      th OEM
                      th Наименование детали
                      th
                      th
                    tr
                      td 01
                      td 11287786075
                      td Клиновой рифленный ремень 
                      td
                        button(type="submit") Добавить
                      td 
                        span.scheme__quest.tooltipster(title="Описание")
                    tr 
                      td 02
                      td 11287786880
                      td Натяжитель ремня 
                      td
                        button(type="submit") Добавить
                      td 
                        span.scheme__quest.tooltipster(title="Описание")
                    tr.active
                      td 03
                      td 11517789351
                      td Винт Торх с буртиком 
                      td
                      td 
                        span.scheme__quest.tooltipster(title="Описание")
                    tr 
                      td 04
                      td 11517789351
                      td Винт Торх с буртиком 
                      td
                        button(type="submit") Добавить
                      td 
                        span.scheme__quest.tooltipster(title="Описание")
                    tr 
                      td 05
                      td 11517789351
                      td Клиновой рифленный ремень с очень длинным названием детали 
                      td
                        button(type="submit") Добавить
                      td 
                        span.scheme__quest.tooltipster(title="Описание")
                    tr 
                      td 5568454
                      td 11287786075
                      td Клиновой рифленный ремень  
                      td
                        button(type="submit") Добавить
                      td 
                        span.scheme__quest.tooltipster(title="Описание")
                    tr 
                      td 5568454
                      td 215648
                      td Клиновой рифленный ремень  
                      td
                        button(type="submit") Добавить
                      td 
                        span.scheme__quest.tooltipster(title="Описание")
                    tr 
                      td 5568454
                      td 11287786075
                      td Клиновой рифленный ремень  
                      td
                        button(type="submit") Добавить
                      td 
                        span.scheme__quest.tooltipster(title="Описание")
                    tr 
                      td 5568454
                      td 215648
                      td Клиновой рифленный ремень  
                      td
                        button(type="submit") Добавить
                      td 
                        span.scheme__quest.tooltipster(title="Описание")
                    tr 
                      td 5568454
                      td 11287786075
                      td Клиновой рифленный ремень  
                      td
                        button(type="submit") Добавить
                      td 
                        span.scheme__quest.tooltipster(title="Описание")
                    tr 
                      td 5568454
                      td 215648
                      td Клиновой рифленный ремень  
                      td
                        button(type="submit") Добавить
                      td 
                        span.scheme__quest.tooltipster(title="Описание")
                    tr 
                      td 5568454
                      td 11287786075
                      td Клиновой рифленный ремень  
                      td
                        button(type="submit") Добавить
                      td 
                        span.scheme__quest.tooltipster(title="Описание")
                    tr 
                      td 5568454
                      td 215648
                      td Клиновой рифленный ремень  
                      td
                        button(type="submit") Добавить
                      td 
                        span.scheme__quest.tooltipster(title="Описание")
                    tr 
                      td 5568454
                      td 11287786075
                      td Клиновой рифленный ремень  
                      td
                        button(type="submit") Добавить
                      td 
                        span.scheme__quest.tooltipster(title="Описание")
                    tr 
                      td 5568454
                      td 215648
                      td Клиновой рифленный ремень  
                      td
                        button(type="submit") Добавить
                      td 
                        span.scheme__quest.tooltipster(title="Описание")
                    tr 
                      td 5568454
                      td 11287786075
                      td Клиновой рифленный ремень  
                      td
                        button(type="submit") Добавить
                      td 
                        span.scheme__quest.tooltipster(title="Описание")
                    tr 
                      td 5568454
                      td 215648
                      td Клиновой рифленный ремень  
                      td
                        button(type="submit") Добавить
                      td 
                        span.scheme__quest.tooltipster(title="Описание")
          .modal_close.js-modal_close
    // /modal scheme

include ../html_blocks/footer.html