include ../html_blocks/header.html

.page
  .container
    h3 Навигация по страницам
    ul 
      li 
        a(href="home.html") Главная
      li
        a(href="lk.html") Личный кабинет
      li 
        a(href="history.html") История подбора
      li
        a(href="tabs.html") Страница с табами
      li 
        a(href="policy.html") Политика конфиденциальности
      li 
        a(href="404.html") 404
      li 
        a(href="stockroom.html") Склад 1
      li 
        a(href="add-stockroom.html") Добавить склад
      li 
        a(href="add-stockroom_2.html") Добавить стеллаж
      li 
        a(href="add-stockroom_3.html") Управление ячейками
      li 
        a(href="stockroom-1.html") Склад 2

include ../html_blocks/footer.html