include ../html_blocks/header.html

.page
  .container
    h3 Навигация по страницам
    ul 
      li 
        a(href="home.html") Главная
      li
        a(href="lk.html") Личный кабинет
      li 
        a(href="history.html") История подбора
      li
        a(href="tabs.html") Страница с табами

include ../html_blocks/footer.html