include ../html_blocks/header.html

.page
  .container
    h3 Навигация по страницам
    ul 
      li 
        a(href="home.html") Главная
      li
        a(href="lk.html") Личный кабинет

include ../html_blocks/footer.html