include ../html_blocks/header-enter.html

.page

  .container

    // policy
    .policy
      h1.policy__title Политика конфиденциальности
      .policy__text 
        .policy__block
          h2 1. Общие положения
          p 1.1. Политика в отношении обработки персональных данных (далее — Политика) направлена на защиту прав и свобод физических лиц, персональные данные которых обрабатывает «STARVIN» (далее — Оператор). 
          p 1.2. Политика разработана в соответствии с п. 2 ч. 1 ст. 18.1 Федерального закона от 27 июля 2006 г. № 152-ФЗ «О персональных данных» (далее — ФЗ «О персональных данных»). 
          p 1.3. Политика содержит сведения, подлежащие раскрытию в соответствии с ч. 1 ст. 14 ФЗ «О персональных данных», и является общедоступным документом. 
        .policy__block
          h2 2. Сведения об операторе
          p 2.1. Оператор ведет свою деятельность по адресу: Московская область, г. Дубна, ул. Программистов, корп.5, оф. 332. 
          p 2.2. Исполнительный директор Копытин Василий Владимирович (телефон +7 (495) 646−6401) назначен ответственным за организацию обработки персональных данных. 
          p 2.3. База данных информации, содержащей персональные данные граждан Российской Федерации, находится по адресу: Владимирская область, г. Владимир, ул. Озеро Ревяки, дом 1. 
        .policy__block
          h2 3. Сведения об обработке персональных данных
          p 3.1. Оператор обрабатывает персональные данные на законной и справедливой основе для выполнения возложенных законодательством функций, полномочий и обязанностей, осуществления прав и законных интересов Оператора, работников Оператора и третьих лиц. 
          p 3.2. Оператор получает персональные данные непосредственно у субъектов персональных данных, а также у контрагентов, являющихся операторами персональных данных своих клиентов. 
          p 3.3. Оператор обрабатывает персональные данные автоматизированным и неавтоматизированным способами, с использованием средств вычислительной техники и без использования таких средств. 
          p 3.4. Действия по обработке персональных данных включают сбор, запись, систематизацию, накопление, хранение, уточнение (обновление, изменение), извлечение, использование, передачу (распространение, предоставление, доступ), обезличивание, блокирование, удаление и уничтожение. 
          p 3.5. Базы данных информации, содержащей персональные данные граждан Российской Федерации, находятся на территории Российской Федерации. 
        .policy__block
          h2 4. Обработка персональных данных клиентов контрагента
          p 4.1. Оператор обрабатывает персональные данные клиентов контрагента в рамках правоотношений с Оператором, урегулированных частью второй Гражданского Кодекса Российской Федерации от 26 января 1996 г. № 14-ФЗ. 
          p 4.2. Оператор обрабатывает персональные данные клиентов контрагента с целью исполнения обязанностей по договорам оказания услуг с контрагентами, а также лицензионным договорам, заключенным с контрагентами. 
          p 4.3. Оператор обрабатывает персональные данные клиентов контрагента по поручению контрагентов. Согласие субъектов персональных данных на обработку их персональных данных (в том числе третьим лицам) предоставляется контрагенту. 
          p 4.4. Оператор обрабатывает персональные данные клиентов контрагента не дольше, чем того требуют цели обработки персональных данных, если иное не предусмотрено требованиями законодательства РФ. 
          p 4.5. Оператор обрабатывает следующие персональные данные клиентов контрагента: 
          p •	Фамилия, имя, отчество;
          p •	Тип, серия и номер документа, удостоверяющего личность;
          p •	Дата выдачи документа, удостоверяющего личность, и информация о выдавшем его органе;
          p •	Год, месяц и дата рождения;
          p •	Место рождения;
          p •	Адрес регистрации;
          p •	Номер контактного телефона;
          p •	Адрес электронной почты;
          p •	Идентификационный номер налогоплательщика;
          p •	Номер страхового свидетельства государственного пенсионного страхования;
          p •	Данные о социальных льготах;
          p •	Сведения об оказанных услугах;
          p •	Сведения о задолженности перед контрагентом.
          p 4.6. Для достижения целей обработки персональных данных и с согласия клиентов контрагента Оператор может предоставлять персональные данные или поручать их обработку органам власти или контроля, операторам государственных информационных систем и порталов, опираясь на законодательные акты и договоры с контрагентом. 
          p 4.7. Оператор не обрабатывает специальные категории персональных данных клиентов контрагента и биометрические персональные данные клиентов контрагента. 
        .policy__block
          h2 5. Обработка персональных данных работников
          p 5.1. Оператор обрабатывает персональные данные работников Оператора в рамках правоотношений, урегулированных Трудовым Кодексом Российской Федерации от 30 декабря 2001 г. № 197-ФЗ (далее — ТК РФ), в том числе главой 14 ТК РФ, касающейся защиты персональных данных работников. 
          p 5.2. Оператор обрабатывает персональные данные работников с целью выполнения трудовых договоров, соблюдения норм законодательства РФ, а также с целью: 
          p •	вести кадровый учёт;
          p •	вести бухгалтерский учёт;
          p •	осуществлять функции, полномочия и обязанности, возложенные законодательством РФ на Оператора, в том числе по предоставлению персональных данных в органы государственной власти, в Пенсионный фонд РФ, в Фонд социального страхования РФ, в Федеральный фонд обязательного медицинского страхования, а также в иные государственные органы;
          p •	соблюдать нормы и требования по охране труда и обеспечения личной безопасности работников «STARVIN», сохранности имущества;
          p •	контролировать количество и качество выполняемой работы;
          p •	предоставлять льготы и компенсации, предусмотренные законодательством РФ;
          p •	открывать личные банковские счета работников «STARVIN» для перечисления заработной платы;
          p •	перечислять страховые взносы в негосударственные пенсионные фонды; 
          p •	обеспечивать пропускной режим на территорию Оператора;
          p •	организовывать обучение работников «STARVIN».
          p 5.3. Оператор не принимает решения, затрагивающие интересы работников, основываясь на их персональных данных, полученных электронным образом или исключительно в результате автоматизированной обработки без наличия их согласия в письменной форме. 
          p 5.4. Оператор защищает персональные данные работников за счет собственных средств в порядке, установленном ТК РФ, ФЗ «О персональных данных» и иными федеральными законами. 
          p 5.5. Оператор знакомит работников и их представителей под роспись с документами, устанавливающими порядок обработки персональных данных работников, а также об их правах и обязанностях в этой области. 
          p 5.6. Оператор разрешает доступ к персональным данным работников только допущенным лицам, которые имеют право получать только те данные, которые необходимы для выполнения их функций. 
          p 5.7. Оператор получает все персональные данные работников у них самих. Если данные работника возможно получить только у третьей стороны, Оператор заранее уведомляет об этом работника и получает его письменное согласие. Оператор сообщает работнику о целях, источниках, способах получения, а также о характере подлежащих получению данных и последствиях отказа работника дать письменное согласие на их получение. 
          p 5.8. Оператор обрабатывает персональные данные работников с их письменного согласия, предоставляемого на срок действия трудового договора. 
          p 5.9. Оператор обрабатывает персональные данные работников в течение срока действия трудового договора. Оператор обрабатывает персональные данные уволенных работников в течение срока, установленного п. 5 ч. 3 ст. 24 части первой Налогового Кодекса Российской Федерации от 31 июля 1998 г. № 146-ФЗ, ч. 1 ст. 29 Федерального закона «О бухгалтерском учёте» от 6 декабря 2011 г. № 402-ФЗ и иными нормативными правовыми актами. 
          p 5.10. Оператор может обрабатывать специальные категории персональных данных работников (сведений о состоянии здоровья, относящихся к вопросу о возможности выполнения ими трудовых функций) на основании п. 2.3 ч. 2 ст. 10 ФЗ «О персональных данных». 
          p 5.11. Оператор не обрабатывает специальные и биометрические персональные данные работников. 
          p 5.12. Оператор не получает данные о членстве работников в общественных объединениях или их профсоюзной деятельности, за исключением случаев, предусмотренных ТК РФ или иными федеральными законами. 
          p 5.13. Оператор обрабатывает следующие персональные данные работников: 
          p •	Фамилия, имя, отчество;
          p •	Тип, серия и номер документа, удостоверяющего личность;
          p •	Дата выдачи документа, удостоверяющего личность, и информация о выдавшем его органе;
          p •	Год, месяц и дата рождения;
          p •	Место рождения;
          p •	Адрес регистрации;
          p •	Номер контактного телефона;
          p •	Фдрес электронной почты;
          p •	Идентификационный номер налогоплательщика;
          p •	Номер страхового свидетельства государственного пенсионного страхования;
          p •	Профессия, занимаемая должность;
          p •	Содержание трудового договора;
          p •	Доходы, сведения о заработной плате;
          p •	Фотография;
          p •	Образование, специальность;
          p •	Страховые взносы на ОПС;
          p •	Страховые взносы на ОМС;
          p •	Налоговые вычеты;
          p •	Выход на пенсию;
          p •	Дополнительные страховые взносы на накопительную часть пенсии;
          p •	Временная нетрудоспособность;
          p •	Банковские реквизиты;
          p •	Сведения о социальных льготах;
          p •	Сведения о трудовом и общем стаже;
          p •	Подлинники и копии приказов, а также основания к ним;
          p •	Личное дело и трудовая книжка;
          p •	Дела, содержащие материалы по повышению квалификации и переподготовке, аттестации, служебным расследованиям.
          p 5.14. Оператор не сообщает третьей стороне персональные данные работника без его письменного согласия, кроме случаев, когда это необходимо для предупреждения угрозы жизни и здоровью работника, а также в других случаях, предусмотренных ТК РФ, ФЗ «О персональных данных» или иными федеральными законами. 
          p 5.15. Оператор не сообщает персональные данные работника в коммерческих целях без его письменного согласия. 
          p 5.16. Оператор передаёт персональные данные работников их представителям в порядке, установленном ТК РФ, ФЗ «О персональных данных» и иными федеральными законами, и ограничивает эту информацию только теми данными, которые необходимы для выполнения представителями их функций. 
          p 5.17. Оператор предупреждает лиц, получающих персональные данные работника, что эти данные могут быть использованы только в целях, для которых они сообщены, требует от этих лиц подтверждения, что это правило соблюдено. 
          p 5.18. В порядке, установленном законодательством, и в соответствии со ст. 7 ФЗ «О персональных данных» для достижения целей обработки персональных данных и с согласия работников Оператор предоставляет персональные данные работников или поручает их обработку следующим лицам: 
          p •	Государственные органы (ПФР, ФНС, ФСС и др.);
          p •	Банк (в рамках зарплатного проекта);
          p •	Компании пассажирских грузоперевозок и гостиницы (в рамках организации командировок).
          p 5.19. Работник может получить свободный бесплатный доступ к информации о его персональных данных и об обработке этих данных. Работник может получить копию любой записи, содержащей его персональные данные, за исключением случаев, предусмотренных федеральным законом. 
          p 5.20. Работник может требовать исключить или исправить свои неверные или неполные персональные данные, а также данные, обработанные с нарушением требований ТК РФ, ФЗ «О персональных данных» или иного федерального закона. При отказе Оператора исключить или исправить персональные данные работника он может заявить в письменной форме о своем несогласии и обосновать такое несогласие. Работник может дополнить персональные данные оценочного характера заявлением, выражающим его собственную точку зрения. 
          p 5.21. Работник может требовать известить всех лиц, которым ранее были сообщены его неверные или неполные персональные данные, обо всех произведенных в них исключениях, исправлениях или дополнениях. 
        .policy__block
          h2 6. Обработка персональных данных соискателей
          p 6.1. Оператор обрабатывает персональные данные соискателей вакантных должностей (далее — соискателей). 
          p 6.2. Оператор обрабатывает персональные данные соискателей с целью: 
          p •	принимать решения о приёме либо отказе в приёме на работу;
          p •	вести кадровый резерв.
          p 6.3. Оператор обрабатывает персональные данные соискателей с их письменного согласия, предоставляемого на срок, необходимый для принятия решения о приеме либо отказе в приеме на работу. Исключение составляют случаи, когда от имени соискателя действует кадровое агентство, с которым он заключил соответствующий договор, а также при самостоятельном размещении соискателем своего резюме, доступного неограниченному кругу лиц, в сети Интернет. 
          p 6.4. Оператор обрабатывает персональные данные соискателей в течение срока, необходимого для принятия решения о приеме либо отказе в приеме на работу. В случае отказа в приеме на работу Оператор прекращает обработку персональных данных соискателя в течение 30 дней в соответствии с ч. 4 ст. 21 ФЗ «О персональных данных». 
          p 6.5. Оператор не обрабатывает специальные категории персональных данных соискателей и биометрические персональные данные соискателей. 
          p 6.6. Оператор обрабатывает следующие персональные данные соискателей: 
          p •	Фамилия, имя, отчество;
          p •	Год, месяц и дата рождения;
          p •	Адрес регистрации;
          p •	Номер контактного телефона;
          p •	Адрес электронной почты;
          p •	Фотография;
          p •	Образование, специальность;
          p •	Профессия;
          p •	Сведения о трудовом и общем стаже.
        .policy__block
          h2 7. Обработка персональных данных сотрудников по договорам гражданско-правового характера
          p 7.1. Оператор обрабатывает персональные данные сотрудников по договорам гражданско-правового характера в рамках правоотношений с Оператором, урегулированных частью второй Гражданского Кодекса Российской Федерации от 26 января 1996 г. № 14-ФЗ. 
          p 7.2. Оператор обрабатывает персональные данные сотрудников по договорам гражданско-правового характера в целях соблюдения норм законодательства РФ, с целью заключения и выполнения договора гражданско-правового характера. 
          p 7.3. Оператор обрабатывает персональные данные сотрудников по договорам гражданско-правового характера с их согласия, предоставляемого на срок действия заключенных с ними договоров. В случаях, предусмотренных ФЗ «О персональных данных», согласие предоставляется в письменном виде. В иных случаях согласие считается полученным при заключении договора или при совершении конклюдентных действий. 
          p 7.4. Оператор обрабатывает персональные данные сотрудников по договорам гражданско-правового характера в течение сроков действия заключенных с ними договоров. Оператор может обрабатывать персональные данные сотрудников по договорам гражданско-правового характера после окончания сроков действия заключенных с ними договоров в течение срока, установленного п. 5 ч. 3 ст. 24 части первой НК РФ, ч. 1 ст. 29 ФЗ «О бухгалтерском учёте» и иными нормативными правовыми актами. 
          p 7.5. Оператор не обрабатывает специальные и биометрические персональные данные сотрудников по договорам гражданско-правового характера. 
          p 7.6. Оператор обрабатывает следующие персональные данные сотрудников по договорам гражданско-правового характера: 
          p •	Фамилия, имя, отчество;
          p •	Тип, серия и номер документа, удостоверяющего личность;
          p •	Дата выдачи документа, удостоверяющего личность, и информация о выдавшем его органе;
          p •	Год, месяц и дата рождения;
          p •	Место рождения;
          p •	Адрес регистрации;
          p •	Номер контактного телефона;
          p •	Адрес электронной почты;
          p •	Идентификационный номер налогоплательщика;
          p •	Номер страхового свидетельства государственного пенсионного страхования;
          p •	Фотография;
          p •	Образование, специальность;
          p •	Профессия;
          p •	Содержание договора;
          p •	Доходы;
          p •	Страховые взносы на ОПС;
          p •	Страховые взносы на ОМС;
          p •	Налоговые вычеты;
          p •	Дополнительные страховые взносы на накопительную часть пенсии;
          p •	Банковские реквизиты;
          p •	Дела, содержащие материалы по повышению квалификации и переподготовке, аттестации, служебным расследованиям.
        .policy__block
          h2 8. Сведения об обеспечении безопасности персональных данных
          p 8.1. Оператор назначает ответственного за организацию обработки персональных данных для выполнения обязанностей, предусмотренных ФЗ «О персональных данных» и принятыми в соответствии с ним нормативными правовыми актами.
          p 8.2. Оператор применяет комплекс правовых, организационных и технических мер по обеспечению безопасности персональных данных для обеспечения конфиденциальности персональных данных и их защиты от неправомерных действий:
          p •	обеспечивает неограниченный доступ к Политике, копия которой размещена по адресу нахождения Оператора, а также может быть размещена на сайте Оператора (при его наличии);
          p •	во исполнение Политики утверждает и приводит в действие документ «Положение об обработке персональных данных» (далее — Положение) и иные локальные акты;
          p •	производит ознакомление работников с положениями законодательства о персональных данных, а также с Политикой и Положением;
          p •	осуществляет допуск работников к персональным данным, обрабатываемым в информационной системе Оператора, а также к их материальным носителям только для выполнения трудовых обязанностей;
          p •	устанавливает правила доступа к персональным данным, обрабатываемым в информационной системе Оператора, а также обеспечивает регистрацию и учёт всех действий с ними;
          p •	производит оценку вреда, который может быть причинен субъектам персональных данных в случае нарушения ФЗ «О персональных данных»;
          p •	производит определение угроз безопасности персональных данных при их обработке в информационной системе Оператора;
          p •	применяет организационные и технические меры и использует средства защиты информации, необходимые для достижения установленного уровня защищенности персональных данных;
          p •	осуществляет обнаружение фактов несанкционированного доступа к персональным данным и принимает меры по реагированию, включая восстановление персональных данных, модифицированных или уничтоженных вследствие несанкционированного доступа к ним;
          p •	производит оценку эффективности принимаемых мер по обеспечению безопасности персональных данных до ввода в эксплуатацию информационной системы Оператора;
          p •	осуществляет внутренний контроль соответствия обработки персональных данных ФЗ «О персональных данных», принятым в соответствии с ним нормативным правовым актам, требованиям к защите персональных данных, Политике, Положению и иным локальным актам, включающий контроль за принимаемыми мерами по обеспечению безопасности персональных данных и их уровня защищенности при обработке в информационной системе Оператора.
        .policy__block
          h2 9. Права субъектов персональных данных
          p 9.1. Субъект персональных данных имеет право:
          p •	на получение персональных данных, относящихся к данному субъекту, и информации, касающейся их обработки;
          p •	на уточнение, блокирование или уничтожение его персональных данных в случае, если они являются неполными, устаревшими, неточными, незаконно полученными или не являются необходимыми для заявленной цели обработки;
          p •	на отзыв данного им согласия на обработку персональных данных;
          p •	на защиту своих прав и законных интересов, в том числе на возмещение убытков и компенсацию морального вреда в судебном порядке;
          p •	на обжалование действий или бездействия Оператора в уполномоченный орган по защите прав субъектов персональных данных или в судебном порядке.
          p 9.2. Для реализации своих прав и законных интересов субъекты персональных данных имеют право обратиться к Оператору либо направить запрос лично или с помощью представителя. Запрос должен содержать сведения, указанные в ч. 3 ст. 14 ФЗ «О персональных данных».


    //	/policy

include ../html_blocks/footer.html