include ../html_blocks/header-enter.html

.page

  .container

    // breadcrumbs
    .breadcrumbs
      ul.breadcrumbs__list 
        li 
          a(href="#") Личный кабинет
        li 
          a(href="#") Мои склады
        li 
          span Мой склад СК1 Вавилова
    //	/breadcrumbs

    // borderblock
    .borderblock
      .borderblock__head 
        h1.borderblock__title Мой склад СК1Вавилова
      .borderblock__body 
        // stockroom
        .stockroom
          .stockroom__container
            .stockroom__scroll.scrollbar-inner
              .stockroom__inner
                table.stockroom__table
                  tr 
                    th 
                    th Стеллаж
                    th Ячеек
                    th Товаров
                    th 
                    th 
                    th 
                    th 
                  tr 
                    td 
                      img(src="img/qr.svg", alt="")
                    td 
                      a(href="#") Стеллаж 64А
                    td 
                      span.stockroom__dotted 66
                    td 
                      span.stockroom__underline 45
                    td 
                      span.switch 
                        input#stockroom_1(type="checkbox" checked)
                        label(for="stockroom_1") 
                    td 
                      span.stockroom__edit
                    td 
                      span.stockroom__delete
                  tr
                    td 
                      img(src="img/qr.svg", alt="")
                    td 
                      a(href="#") Стеллаж 65А
                    td 
                      span.stockroom__dotted 66
                    td 
                      span.stockroom__underline 45
                    td 
                      span.switch 
                        input#stockroom_2(type="checkbox" checked)
                        label(for="stockroom_2") 
                    td 
                      span.stockroom__edit
                    td 
                      span.stockroom__delete
                  tr 
                    td 
                      img(src="img/qr.svg", alt="")
                    td 
                      a(href="#") Стеллаж 66А
                    td 
                      span.stockroom__dotted 15
                    td 
                      span.stockroom__underline 155
                    td 
                      span.switch 
                        input#stockroom_3(type="checkbox" checked)
                        label(for="stockroom_3") 
                    td 
                      span.stockroom__edit
                    td 
                      span.stockroom__delete
                  tr 
                    td 
                      img(src="img/qr.svg", alt="")
                    td 
                      a(href="#") Стеллаж 67А
                    td 
                      span.stockroom__dotted 86
                    td 
                      span.stockroom__underline 45
                    td 
                      span.switch 
                        input#stockroom_4(type="checkbox" checked)
                        label(for="stockroom_4") 
                    td 
                      span.stockroom__edit
                    td 
                      span.stockroom__delete
                  tr 
                    td 
                      img(src="img/qr.svg", alt="")
                    td 
                      a(href="#") Стеллаж 68А
                    td 
                      span.stockroom__dotted 66
                    td 
                      span.stockroom__underline 45
                    td 
                      span.switch 
                        input#stockroom_5(type="checkbox" checked)
                        label(for="stockroom_5") 
                    td 
                      span.stockroom__edit
                    td 
                      span.stockroom__delete
                  tr 
                    td 
                      img(src="img/qr.svg", alt="")
                    td 
                      a(href="#") Стеллаж 69А
                    td 
                      span.stockroom__dotted 66
                    td 
                      span.stockroom__underline 45
                    td 
                      span.switch 
                        input#stockroom_6(type="checkbox" checked)
                        label(for="stockroom_6") 
                    td 
                      span.stockroom__edit
                    td 
                      span.stockroom__delete
                  tr 
                    td 
                      img(src="img/qr.svg", alt="")
                    td 
                      a(href="#") Стеллаж 70А
                    td 
                      span.stockroom__dotted 66
                    td 
                      span.stockroom__underline 45
                    td 
                      span.switch 
                        input#stockroom_6(type="checkbox" checked)
                        label(for="stockroom_6") 
                    td 
                      span.stockroom__edit
                    td 
                      span.stockroom__delete
                  tr 
                    td 
                      img(src="img/qr.svg", alt="")
                    td 
                      a(href="#") Стеллаж 70А
                    td 
                      span.stockroom__dotted 66
                    td 
                      span.stockroom__underline 45
                    td 
                      span.switch 
                        input#stockroom_6(type="checkbox" checked)
                        label(for="stockroom_6") 
                    td 
                      span.stockroom__edit
                    td 
                      span.stockroom__delete
                  tr 
                    td 
                      img(src="img/qr.svg", alt="")
                    td 
                      a(href="#") Стеллаж 70А
                    td 
                      span.stockroom__dotted 66
                    td 
                      span.stockroom__underline 45
                    td 
                      span.switch 
                        input#stockroom_6(type="checkbox" checked)
                        label(for="stockroom_6") 
                    td 
                      span.stockroom__edit
                    td 
                      span.stockroom__delete
            a(href="add-stockroom.html").btn-dashed
              <svg width="21" height="21" viewBox="0 0 21 21" xmlns="http://www.w3.org/2000/svg">
                <path d="M10.5 0C4.71023 0 0 4.71032 0 10.5C0 16.2897 4.71023 21 10.5 21C16.2898 21 21 16.2897 21 10.5C21 4.71032 16.2898 0 10.5 0ZM10.5 18.9678C5.8309 18.9678 2.03224 15.1691 2.03224 10.5C2.03224 5.83086 5.8309 2.03224 10.5 2.03224C15.1691 2.03224 18.9678 5.8309 18.9678 10.5C18.9678 15.1691 15.1691 18.9678 10.5 18.9678Z"/>
                <path d="M11.5164 9.48412V5.7583H9.48412V9.48412H5.7583V11.5164H9.48412V15.2422H11.5164V11.5164H15.2422V9.48412H11.5164Z"/>
              </svg>
              span Добавить склад
            //	/stockroom
    //	/borderblock

include ../html_blocks/footer.html