.page-404 {
  padding: 30px 0;
  background-color: #fff;
  text-align: center;
  margin-bottom: 30px;
  &__img {
    margin-bottom: 67px;
  }
  &__title {
    margin-bottom: 5px;
    font-weight: bold;
    font-size: 36px;
    line-height: 44px;
    color: #1F2937;
  }
  &__link {
    a {
      color: $blue;
    }
  }
  @media (max-width: $break_md) {
    margin-top: 20px;
  }
  @media (max-width: $break_xs) {
    margin-left: $gutter * -1;
    margin-right: $gutter * -1;
    padding-left: $gutter;
    padding-right: $gutter;
    &__title {
      font-size: 30px;
      line-height: 36px;
    }
  }
}
