.tabs {
  border: 1px solid $bdc;
  background-color: #fff;
  margin-bottom: 80px;
  &__head {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    padding: 42px 40px 0;
    border-bottom: 1px solid $bdc;
  }
  &__title {
    font-weight: 600;
    font-size: 30px;
    line-height: 21px;
    color: #1F2937;
    white-space: nowrap;
    margin-bottom: 27px;
  }
  &__triggers {
    display: flex;
    margin-left: -45px;
    text-transform: uppercase;  
    margin-bottom: 27px;
  }
  &__trigger {
    color: #6B7280;
    user-select: none;
    cursor: pointer;
    transition: 0.3s;
    margin-left: 45px;
    font-size: 12px;
    font-weight: 600;
    white-space: nowrap;
    &:hover {
      color: #0054B9;
    }
    &.active {
      color: #111827;
    }
  }
  &__contents {
    padding: 60px 40px;
    &--bdb {
      border-bottom: 1px solid $bdc;
    }
  }
  &__content {

  }
  &__col {
    &:nth-child(1) {
      @include col(7);
      @include col-md(12);
    }
    &:nth-child(2) {
      @include col(5);
      @include col-md(12);
    }
  }
  &__img {
    margin-top: -30px;
    text-align: right;
  }
  &__section {
    &--border {
      padding-bottom: 60px;
      position: relative;
      &:after {
        content: '';
        display: block;
        height: 1px;
        background-color: $bdc;
        position: absolute;
        bottom: 0;
        left: -40px;
        right: -40px;
      }
    }
  }
  @media (max-width: $break_md) {
    &__title {
      width: 100%;
    }
    &__triggers {
      overflow-x: auto;
      padding-bottom: 5px;
      margin-left: 0;
    }
    &__trigger {
      margin-left: 0;
      margin-right: 20px;
    }
    &__img {
      display: none;
    }
  }
  @media (max-width: $break_xs) {
    margin-bottom: 90px;
    &__head {
      padding: 28px 20px 0;
    }
    &__title {
      margin-bottom: 26px;
      font-size: 24px;
    }
    &__triggers {
      margin-bottom: 10px;
    }
    &__contents {
      padding: 48px 20px;
    }
    &__section {
      &--border {
        padding-bottom: 50px;
      }
    }
  }
}

.js-tabs-content {
  display: none;
  &.open {
    display: block;
  }
}